In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open ('df.pickle','rb') as fr:
    df = pickle.load(fr)

In [3]:
df

,customer_id,article_id,Buy,price,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,...,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name
0,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0562245001,0,0.033881,0,0,ACTIVE,None,1,Woman,...,Trousers,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers
1,00007d2de826758b65a93dd24ce629ed66842531df6699...,0562245001,0,0.033881,1,1,ACTIVE,Regularly,2,Woman,...,Trousers,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers
2,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,0562245001,0,0.033881,1,1,ACTIVE,Regularly,5,Woman,...,Trousers,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers
3,0000b2f1829e23b24feec422ef13df3ccedaedc85368e6...,0562245001,0,0.033881,1,1,ACTIVE,Regularly,4,Woman,...,Trousers,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers
4,00015c1a121e08bbd2552c15fbbb6e6b19d3bf8f7b6a3d...,0562245001,0,0.033881,0,0,ACTIVE,None,1,Woman,...,Trousers,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55945779,fffe836e77106fde6a3d0fd74882c4f4315c5255e38fd1...,0688341001,0,0.016932,1,1,ACTIVE,Regularly,2,Woman,...,T-shirt,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic
55945780,ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd...,0688341001,0,0.016932,0,0,ACTIVE,None,2,Woman,...,T-shirt,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic
55945781,ffff1c80bd2dede87deda612527c3df06d2fb270b85602...,0688341001,0,0.016932,0,0,ACTIVE,None,4,Young,...,T-shirt,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic
55945782,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0688341001,0,0.016932,0,0,ACTIVE,None,1,Young,...,T-shirt,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic
55945783,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0688341001,0,0.016932,1,1,ACTIVE,Regularly,1,Woman,...,T-shirt,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic

In [4]:
cus = df.groupby('customer_id')['Buy'].sum()
cus = pd.DataFrame(cus)
cus.reset_index(inplace=True)
cus

                                              customer_id  Buy
0       0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...    4
1       00007d2de826758b65a93dd24ce629ed66842531df6699...    6
2       00009d946eec3ea54add5ba56d5210ea898def4b46c685...    7
3       0000b2f1829e23b24feec422ef13df3ccedaedc85368e6...    2
4       00015c1a121e08bbd2552c15fbbb6e6b19d3bf8f7b6a3d...    3
...                                                   ...  ...
229281  fffe836e77106fde6a3d0fd74882c4f4315c5255e38fd1...    3
229282  ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd...    1
229283  ffff1c80bd2dede87deda612527c3df06d2fb270b85602...    1
229284  ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...    5
229285  ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...    4

[229286 rows x 2 columns]

In [5]:
cus_alive = pd.read_csv('cus_alive.csv')

In [6]:
cus_alive

                                              customer_id  alive
0       00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...      1
1       0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...      1
2       000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...      1
3       00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...      1
4       0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...      1
...                                                   ...    ...
862719  ffff8f9ecdce722b5bab97fff68a6d1866492209bfe524...      1
862720  ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...      1
862721  ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...      1
862722  ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...      1
862723  ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...      1

[862724 rows x 2 columns]

In [7]:
cus = pd.merge(cus,cus_alive,on='customer_id',how="left")
cus

                                              customer_id  Buy  alive
0       0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...    4    1.0
1       00007d2de826758b65a93dd24ce629ed66842531df6699...    6    1.0
2       00009d946eec3ea54add5ba56d5210ea898def4b46c685...    7    1.0
3       0000b2f1829e23b24feec422ef13df3ccedaedc85368e6...    2    1.0
4       00015c1a121e08bbd2552c15fbbb6e6b19d3bf8f7b6a3d...    3    1.0
...                                                   ...  ...    ...
229281  fffe836e77106fde6a3d0fd74882c4f4315c5255e38fd1...    3    1.0
229282  ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd...    1    1.0
229283  ffff1c80bd2dede87deda612527c3df06d2fb270b85602...    1    NaN
229284  ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...    5    1.0
229285  ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...    4    1.0

[229286 rows x 3 columns]

In [8]:
cus.alive = cus.alive.fillna(0)
cus.drop('Buy',axis=1,inplace=True)
cus

                                              customer_id  alive
0       0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...    1.0
1       00007d2de826758b65a93dd24ce629ed66842531df6699...    1.0
2       00009d946eec3ea54add5ba56d5210ea898def4b46c685...    1.0
3       0000b2f1829e23b24feec422ef13df3ccedaedc85368e6...    1.0
4       00015c1a121e08bbd2552c15fbbb6e6b19d3bf8f7b6a3d...    1.0
...                                                   ...    ...
229281  fffe836e77106fde6a3d0fd74882c4f4315c5255e38fd1...    1.0
229282  ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd...    1.0
229283  ffff1c80bd2dede87deda612527c3df06d2fb270b85602...    0.0
229284  ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...    1.0
229285  ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...    1.0

[229286 rows x 2 columns]

In [23]:
cus['alive'].value_counts()

1.0    202995
0.0     26291
Name: alive, dtype: int64

In [9]:
df = pd.merge(df,cus,on="customer_id",how='inner')

In [10]:
df

,customer_id,article_id,Buy,price,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,...,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive
0,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0562245001,0,0.033881,0,0,ACTIVE,None,1,Woman,...,Garment Lower body,Solid,Black,Dark,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers,1.0
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0399223001,0,0.033983,0,0,ACTIVE,None,1,Woman,...,Garment Lower body,Solid,Black,Dark,Denim Trousers,Divided,Divided,Ladies Denim,Trousers Denim,1.0
2,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0562245018,0,0.033881,0,0,ACTIVE,None,1,Woman,...,Garment Lower body,Denim,Blue,Dusty Light,Trouser,Ladieswear,Ladieswear,Womens Everyday Collection,Trousers,1.0
3,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0610776002,0,0.032186,0,0,ACTIVE,None,1,Woman,...,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic,1.0
4,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0484398001,0,0.033881,0,0,ACTIVE,None,1,Woman,...,Garment Lower body,Solid,Black,Dark,Ladies Sport Bottoms,Sport,Sport,Ladies H&M Sport,Jersey Fancy,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55945779,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0417951001,0,0.016932,1,1,ACTIVE,Regularly,1,Woman,...,Socks & Tights,Solid,Beige,Medium Dusty,Tights basic,Lingeries/Tights,Ladieswear,"Womens Nightwear, Socks & Tigh",Socks and Tights,1.0
55945780,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0395127001,0,0.042356,1,1,ACTIVE,Regularly,1,Woman,...,Garment Upper body,Solid,White,Light,Shirt S&T,Menswear,Menswear,Men Suits & Tailoring,Shirts,1.0
55945781,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0664074007,0,0.025407,1,1,ACTIVE,Regularly,1,Woman,...,Garment Upper body,Solid,White,Light,Jersey,Ladieswear,Ladieswear,Womens Tailoring,Jersey Fancy,1.0
55945782,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0695632001,0,0.033881,1,1,ACTIVE,Regularly,1,Woman,...,Garment Upper body,Solid,Black,Dark,Blouse,Ladieswear,Ladieswear,Womens Tailoring,Blouses,1.0
55945783,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0688341001,0,0.016932,1,1,ACTIVE,Regularly,1,Woman,...,Garment Upper body,Solid,Black,Dark,Jersey Basic,Ladieswear,Ladieswear,Womens Everyday Basics,Jersey Basic,1.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 22 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   price                        float64
 4   FN                           uint8
 5   Active                       uint8
 6   club_member_status           object
 7   fashion_news_frequency       object
 8   age_class                    uint8
 9   attribute                    object
 10  prod_name                    object
 11  product_type_name            object
 12  product_group_name           object
 13  graphical_appearance_name    object
 14  colour_group_name            object
 15  perceived_colour_value_name  object
 16  department_name              object
 17  index_name                   object
 18  index_group_name             object
 19  section_name                 object
 20  garment_group_name           object
 21  alive                        float64
dtypes: float64(2), object(16), uint8(4)
memory usage: 8.1+ GB

In [12]:
df.drop(['price'],axis = 1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 21 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           object
 6   fashion_news_frequency       object
 7   age_class                    uint8
 8   attribute                    object
 9   prod_name                    object
 10  product_type_name            object
 11  product_group_name           object
 12  graphical_appearance_name    object
 13  colour_group_name            object
 14  perceived_colour_value_name  object
 15  department_name              object
 16  index_name                   object
 17  index_group_name             object
 18  section_name                 object
 19  garment_group_name           object
 20  alive                        float64
dtypes: float64(1), object(16), uint8(4)
memory usage: 7.7+ GB

In [13]:
#label_encoding
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['club_member_status'] = labelencoder.fit_transform(df['club_member_status'])
df['fashion_news_frequency'] = labelencoder.fit_transform(df['fashion_news_frequency'])
df['index_name'] = labelencoder.fit_transform(df['index_name'])
df['attribute'] = labelencoder.fit_transform(df['attribute'])
df['perceived_colour_value_name'] = labelencoder.fit_transform(df['perceived_colour_value_name'])
df['colour_group_name'] = labelencoder.fit_transform(df['colour_group_name'])
df['graphical_appearance_name'] = labelencoder.fit_transform(df['graphical_appearance_name'])
df['prod_name'] = labelencoder.fit_transform(df['prod_name'])
df['product_type_name'] = labelencoder.fit_transform(df['product_type_name'])
df['product_group_name'] = labelencoder.fit_transform(df['product_group_name'])
df['department_name'] = labelencoder.fit_transform(df['department_name'])
df['index_group_name'] = labelencoder.fit_transform(df['index_group_name'])
df['section_name'] = labelencoder.fit_transform(df['section_name'])
df['garment_group_name'] = labelencoder.fit_transform(df['garment_group_name'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 21 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           int32
 6   fashion_news_frequency       int32
 7   age_class                    uint8
 8   attribute                    int32
 9   prod_name                    int32
 10  product_type_name            int32
 11  product_group_name           int32
 12  graphical_appearance_name    int32
 13  colour_group_name            int32
 14  perceived_colour_value_name  int32
 15  department_name              int32
 16  index_name                   int32
 17  index_group_name             int32
 18  section_name                 int32
 19  garment_group_name           int32
 20  alive                        float64
dtypes: float64(1), int32(14), object(2), uint8(4)
memory usage: 4.8+ GB

In [14]:
df['club_member_status'] = df['club_member_status'].astype('uint8')
df['fashion_news_frequency'] = df['fashion_news_frequency'].astype('uint8')
df['prod_name'] = df['prod_name'].astype('uint8')
df['product_type_name'] = df['product_type_name'].astype('uint8')
df['product_group_name'] = df['product_group_name'].astype('uint8')
df['graphical_appearance_name'] = df['graphical_appearance_name'].astype('uint8')
df['colour_group_name'] = df['colour_group_name'].astype('uint8')
df['perceived_colour_value_name'] = df['perceived_colour_value_name'].astype('uint8')
df['department_name'] = df['department_name'].astype('uint8')
df['index_name'] = df['index_name'].astype('uint8')
df['index_group_name'] = df['index_group_name'].astype('uint8')
df['section_name'] = df['section_name'].astype('uint8')
df['garment_group_name'] = df['garment_group_name'].astype('uint8')
df['attribute'] = df['attribute'].astype('uint8')
df['alive'] = df['alive'].astype('uint8')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 21 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           uint8
 6   fashion_news_frequency       uint8
 7   age_class                    uint8
 8   attribute                    uint8
 9   prod_name                    uint8
 10  product_type_name            uint8
 11  product_group_name           uint8
 12  graphical_appearance_name    uint8
 13  colour_group_name            uint8
 14  perceived_colour_value_name  uint8
 15  department_name              uint8
 16  index_name                   uint8
 17  index_group_name             uint8
 18  section_name                 uint8
 19  garment_group_name           uint8
 20  alive                        uint8
dtypes: object(2), uint8(19)
memory usage: 2.2+ GB

In [52]:
mask = (df["alive"] == 0)
mask2 = (df["Buy"] == 0)
df[(mask & mask2)]

,customer_id,article_id,Buy,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,...,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive
1952,00029b1b57c1aec110f48aac6639d71369387c5985cbd8...,0562245001,0,0,0,0,1,1,4,115,...,2,8,1,0,43,3,2,15,14,0
1953,00029b1b57c1aec110f48aac6639d71369387c5985cbd8...,0399223001,0,0,0,0,1,1,4,59,...,2,8,1,0,8,1,1,7,15,0
1954,00029b1b57c1aec110f48aac6639d71369387c5985cbd8...,0562245018,0,0,0,0,1,1,4,115,...,2,2,2,1,43,3,2,15,14,0
1955,00029b1b57c1aec110f48aac6639d71369387c5985cbd8...,0610776002,0,0,0,0,1,1,4,182,...,3,8,1,0,18,3,2,14,4,0
1956,00029b1b57c1aec110f48aac6639d71369387c5985cbd8...,0484398001,0,0,0,0,1,1,4,149,...,2,8,1,0,24,6,4,8,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55945291,ffff1c80bd2dede87deda612527c3df06d2fb270b85602...,0417951001,0,0,0,0,1,4,4,173,...,6,8,0,4,41,4,2,17,11,0
55945292,ffff1c80bd2dede87deda612527c3df06d2fb270b85602...,0395127001,0,0,0,0,1,4,4,40,...,3,8,14,2,30,5,3,10,7,0
55945293,ffff1c80bd2dede87deda612527c3df06d2fb270b85602...,0664074007,0,0,0,0,1,4,4,44,...,3,8,14,2,17,3,2,21,5,0
55945294,ffff1c80bd2dede87deda612527c3df06d2fb270b85602...,0695632001,0,0,0,0,1,4,4,80,...,3,8,1,0,3,3,2,21,1,0
55945295,ffff1c80bd2dede87deda612527c3df06d2fb270b85602...,0688341001,0,0,0,0,1,4,4,30,...,3,8,1,0,18,3,2,14,4,0

In [53]:
#匯出pickle
import pickle
with open('df2.pickle','wb') as fw:
    pickle.dump(df,fw)

# 切訓練測試

In [15]:
y=df['Buy']
data=df.drop(['customer_id','article_id','Buy'],axis=1)

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, y,test_size=0.33, random_state=101)

In [17]:
undersampling = pd.concat([X_train,y_train],axis=1)
undersampling

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,Buy
25466664,1,1,0,2,2,3,104,7,8,8,14,2,6,4,2,16,16,1,0
26629413,0,0,0,1,1,3,118,31,6,8,1,0,41,4,2,17,11,1,0
35783730,1,1,0,2,2,3,95,6,5,8,1,0,9,1,1,2,8,1,0
51504966,1,1,0,2,1,4,64,35,3,8,1,0,26,5,3,11,4,1,0
12119477,0,0,0,1,2,3,44,29,3,8,14,2,17,3,2,21,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311895,0,0,0,1,5,3,151,5,3,8,14,2,3,3,2,21,1,1,0
55187007,0,0,0,1,1,3,151,5,3,8,14,2,3,3,2,21,1,1,0
35079505,0,0,0,1,4,3,54,31,6,8,1,0,41,4,2,17,11,1,0
24331787,0,0,0,1,1,3,96,23,2,8,1,0,1,1,1,3,4,1,0
3322719,1,1,0,2,2,3,72,2,0,8,1,0,2,2,2,12,0,0,0

In [26]:
#篩選0的資料
undersampling_0 = undersampling[undersampling['Buy']==0]
undersampling_0

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,Buy
25466664,1,1,0,2,2,3,104,7,8,8,14,2,6,4,2,16,16,1,0
26629413,0,0,0,1,1,3,118,31,6,8,1,0,41,4,2,17,11,1,0
35783730,1,1,0,2,2,3,95,6,5,8,1,0,9,1,1,2,8,1,0
51504966,1,1,0,2,1,4,64,35,3,8,1,0,26,5,3,11,4,1,0
12119477,0,0,0,1,2,3,44,29,3,8,14,2,17,3,2,21,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311895,0,0,0,1,5,3,151,5,3,8,14,2,3,3,2,21,1,1,0
55187007,0,0,0,1,1,3,151,5,3,8,14,2,3,3,2,21,1,1,0
35079505,0,0,0,1,4,3,54,31,6,8,1,0,41,4,2,17,11,1,0
24331787,0,0,0,1,1,3,96,23,2,8,1,0,1,1,1,3,4,1,0
3322719,1,1,0,2,2,3,72,2,0,8,1,0,2,2,2,12,0,0,0

In [19]:
#篩選1的資料
undersampling_1 = undersampling[undersampling['Buy']==1]
undersampling_1

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,Buy
15792837,1,1,0,2,2,3,134,19,3,8,1,0,1,1,1,3,4,1,1
47780350,1,1,0,2,5,3,42,8,3,8,1,0,22,3,2,21,6,1,1
37632437,1,1,0,2,4,3,168,25,6,8,1,0,32,4,2,17,11,1,1
26824951,1,1,0,2,1,3,83,31,6,0,1,0,41,4,2,17,11,0,1
42856310,0,0,0,1,2,3,49,32,8,8,1,0,12,4,2,16,16,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21347134,0,0,0,1,4,3,65,35,3,8,1,0,17,3,2,13,5,1,1
47800705,0,0,0,1,4,3,44,29,3,8,1,0,17,3,2,21,5,1,1
14788690,0,0,3,1,4,3,115,30,2,8,14,2,43,3,2,15,14,0,1
21288864,0,0,0,1,2,3,15,25,6,8,14,2,32,4,2,17,11,1,1
12023355,0,0,0,1,3,1,15,25,6,8,1,0,32,4,2,17,11,1,1

In [20]:
#打亂資料
from sklearn.utils import shuffle
undersampling_0 = shuffle(undersampling_0)
undersampling_0.head()

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,Buy
21082074,0,0,0,1,3,3,13,13,0,10,16,0,15,2,2,19,0,1,0
43062546,1,1,0,2,2,3,139,28,3,8,14,2,18,5,3,11,4,1,0
2039234,1,1,0,2,4,3,39,27,7,8,1,0,40,4,2,20,13,1,0
28395888,0,0,0,1,2,3,86,1,5,8,1,0,13,2,2,18,8,1,0
42092180,0,0,0,1,1,4,164,30,2,2,14,2,8,1,1,7,15,1,0

In [28]:
undersampling_1['Buy'].value_counts()

1    628965
Name: Buy, dtype: int64

In [29]:
#取樣
under=undersampling_0.sample(n=628965,random_state=123,axis=0,replace=False)

In [30]:
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,Buy
19934506,0,0,0,1,2,3,74,1,5,8,1,0,13,2,2,18,8,1,0
33043785,0,0,0,1,2,3,108,29,3,8,1,0,18,3,2,14,4,1,0
50695498,1,1,0,2,5,3,193,30,2,8,1,0,43,3,2,21,14,1,0
47520556,0,0,0,1,3,3,126,30,2,8,1,0,43,3,2,21,14,1,0
10111858,0,0,0,1,2,3,113,17,2,8,1,0,18,3,2,14,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12134401,0,0,0,1,2,3,19,20,4,8,1,0,28,4,2,17,16,1,0
37700678,0,0,0,1,2,3,137,35,3,8,1,0,3,3,2,15,1,1,0
54695731,1,1,0,2,1,4,91,33,8,8,1,0,14,4,2,16,16,1,0
27366692,1,1,0,2,1,3,104,7,8,8,14,2,6,4,2,16,16,1,0
4799614,1,1,0,2,2,3,189,28,3,8,14,2,26,5,3,11,4,0,0

In [31]:
#合併0和1
under = pd.concat([under,undersampling_1],ignore_index=True)
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,Buy
0,0,0,0,1,2,3,74,1,5,8,1,0,13,2,2,18,8,1,0
1,0,0,0,1,2,3,108,29,3,8,1,0,18,3,2,14,4,1,0
2,1,1,0,2,5,3,193,30,2,8,1,0,43,3,2,21,14,1,0
3,0,0,0,1,3,3,126,30,2,8,1,0,43,3,2,21,14,1,0
4,0,0,0,1,2,3,113,17,2,8,1,0,18,3,2,14,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257925,0,0,0,1,4,3,65,35,3,8,1,0,17,3,2,13,5,1,1
1257926,0,0,0,1,4,3,44,29,3,8,1,0,17,3,2,21,5,1,1
1257927,0,0,3,1,4,3,115,30,2,8,14,2,43,3,2,15,14,0,1
1257928,0,0,0,1,2,3,15,25,6,8,14,2,32,4,2,17,11,1,1
1257929,0,0,0,1,3,1,15,25,6,8,1,0,32,4,2,17,11,1,1

In [32]:
#打亂資料
from sklearn.utils import shuffle
under = shuffle(under)
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,Buy
687322,0,0,0,1,1,3,47,7,8,8,5,3,12,4,2,16,16,0,1
428181,0,0,0,1,4,3,24,25,6,4,11,4,32,4,2,17,11,1,0
868486,1,1,0,2,5,3,154,17,2,8,1,0,41,4,2,17,11,1,1
771165,0,0,0,1,2,3,52,31,6,8,1,0,41,4,2,17,11,1,1
399962,0,0,0,1,3,3,189,28,3,8,14,2,26,5,3,11,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865444,0,0,0,1,2,3,158,30,2,2,3,4,11,3,2,7,15,1,1
164451,0,0,0,1,2,3,64,35,3,8,1,0,26,5,3,11,4,1,0
1048268,1,1,0,2,4,3,79,33,8,7,1,0,6,4,2,16,16,1,1
55101,1,1,0,2,1,3,190,24,5,8,14,2,36,2,2,18,8,1,0
316941,1,1,0,2,1,3,53,17,2,8,1,0,41,4,2,17,11,1,0

# under完XGB

In [33]:
y_train = under['Buy']
y_train

687322     1
428181     0
868486     1
771165     1
399962     0
          ..
865444     1
164451     0
1048268    1
55101      0
316941     0
Name: Buy, Length: 1257930, dtype: uint8

In [34]:
X_train = under.drop('Buy',axis=1)
X_train

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive
687322,0,0,0,1,1,3,47,7,8,8,5,3,12,4,2,16,16,0
428181,0,0,0,1,4,3,24,25,6,4,11,4,32,4,2,17,11,1
868486,1,1,0,2,5,3,154,17,2,8,1,0,41,4,2,17,11,1
771165,0,0,0,1,2,3,52,31,6,8,1,0,41,4,2,17,11,1
399962,0,0,0,1,3,3,189,28,3,8,14,2,26,5,3,11,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865444,0,0,0,1,2,3,158,30,2,2,3,4,11,3,2,7,15,1
164451,0,0,0,1,2,3,64,35,3,8,1,0,26,5,3,11,4,1
1048268,1,1,0,2,4,3,79,33,8,7,1,0,6,4,2,16,16,1
55101,1,1,0,2,1,3,190,24,5,8,14,2,36,2,2,18,8,1
316941,1,1,0,2,1,3,53,17,2,8,1,0,41,4,2,17,11,1

In [35]:
from xgboost.sklearn import XGBClassifier

xgbc = XGBClassifier(        
        n_estimators=8,     #樹的個數
        learning_rate= 0.1,    # 如同學習率 
        max_depth=6,       # 構建樹的深度，越大越容易過擬合    
        subsample=1,         # 隨機取樣訓練樣本 訓練例項的子取樣比
        gamma=0,         # 用於控制是否後剪枝的引數,越大越保守，一般0.1、0.2這樣子
        reg_lambda=1,          # 控制模型複雜度的權重值的L2正則化項引數，引數越大，模型越不容易過擬合。
        max_delta_step=0,        #最大增量步長，我們允許每個樹的權重估計。
        colsample_bytree=1,         # 生成樹時進行的列取樣 
        min_child_weight=1, 
                     # 這個引數預設是 1，是每個葉子裡面 h 的和至少是多少，對正負樣本不均衡時的 0-1 分類而言
                     # 假設 h 在 0.01 附近，min_child_weight 為 1 意味著葉子節點中最少需要包含 100 個樣本。
                     #這個引數非常影響結果，控制葉子節點中二階導的和的最小值，該引數值越小，越容易 overfitting。
        seed=1000         #隨機種子
#       reg_alpha=0,        # L1 正則項引數
#       scale_pos_weight=1,        #如果取值大於0的話，在類別樣本不平衡的情況下有助於快速收斂。平衡正負權重
#       objective= 'multi:softmax',         #多分類的問題 指定學習任務和相應的學習目標
#       num_class=10,        # 類別數，多分類與 multisoftmax 並用
#       silent=0 ,        # 設定成1則沒有執行資訊輸出，最好是設定為0.是否在執行升級時列印訊息。
#       nthread=4,        # cpu 執行緒數 預設最大
#       eval_metric= 'auc'
)

#xgbc = XGBClassifier(max_depth=5,learning_rate=0.1,n_estimators=160,silent=True,objective='multi:softmax')
#xgbc = XGBClassifier()

D:\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [36]:
xgbc.fit(X_train, y_train)
XGB_pred=xgbc.predict(X_test)
print(XGB_pred)

D:\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
D:\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[22:09:19] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[0 1 0 ... 1 1 0]

In [37]:
XGBtrain_score=xgbc.score(X_train, y_train)
print(XGBtrain_score)

0.6165136374838027

In [38]:
XGBtest_score=xgbc.score(X_test,y_test)
print('The Accuracy of XGBOOST Classifier on testing set:', XGBtest_score)

The Accuracy of XGBOOST Classifier on testing set: 0.5488488882824817

In [39]:
# Sckit-Learn
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,XGB_pred))
print(confusion_matrix(y_test,XGB_pred))

              precision    recall  f1-score   support

           0       0.99      0.55      0.70  18152401
           1       0.03      0.68      0.05    309708

    accuracy                           0.55  18462109
   macro avg       0.51      0.62      0.38  18462109
weighted avg       0.97      0.55      0.69  18462109

[[9920952 8231449]
 [  97752  211956]]

# LGBM

In [41]:
import numpy as np
import pandas as pd
import lightgbm as lgb
from sklearn.preprocessing import LabelBinarizer

In [42]:
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier()

In [43]:
lgbmc.fit(X_train, y_train)
LGBM_pred=lgbmc.predict(X_test)
print(LGBM_pred)

[0 1 0 ... 0 1 0]

In [44]:
LGBMtrain_score=lgbmc.score(X_train, y_train)
print(LGBMtrain_score)

0.6590692645854698

In [45]:
LGBMtest_score=lgbmc.score(X_test,y_test)
print('The Accuracy of LightGBM Classifier on testing set:', LGBMtest_score)

The Accuracy of LightGBM Classifier on testing set: 0.6853675276210318

In [46]:
print(classification_report(y_test,LGBM_pred))
print(confusion_matrix(y_test,LGBM_pred))

              precision    recall  f1-score   support

           0       0.99      0.69      0.81  18152401
           1       0.03      0.63      0.06    309708

    accuracy                           0.69  18462109
   macro avg       0.51      0.66      0.44  18462109
weighted avg       0.97      0.69      0.80  18462109

[[12458315  5694086]
 [  114693   195015]]