In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open ('df2.pickle','rb') as fr:
    df = pickle.load(fr)

In [3]:
df

,customer_id,article_id,Buy,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,...,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive
0,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0562245001,0,0,0,0,1,1,3,115,...,2,8,1,0,43,3,2,15,14,1
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0399223001,0,0,0,0,1,1,3,59,...,2,8,1,0,8,1,1,7,15,1
2,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0562245018,0,0,0,0,1,1,3,115,...,2,2,2,1,43,3,2,15,14,1
3,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0610776002,0,0,0,0,1,1,3,182,...,3,8,1,0,18,3,2,14,4,1
4,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0484398001,0,0,0,0,1,1,3,149,...,2,8,1,0,24,6,4,8,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55945779,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0417951001,0,1,1,0,2,1,3,173,...,6,8,0,4,41,4,2,17,11,1
55945780,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0395127001,0,1,1,0,2,1,3,40,...,3,8,14,2,30,5,3,10,7,1
55945781,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0664074007,0,1,1,0,2,1,3,44,...,3,8,14,2,17,3,2,21,5,1
55945782,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0695632001,0,1,1,0,2,1,3,80,...,3,8,1,0,3,3,2,21,1,1
55945783,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0688341001,0,1,1,0,2,1,3,30,...,3,8,1,0,18,3,2,14,4,1

In [4]:
cus_rolaty = pd.read_csv('rolaty.csv')
cus_rolaty.rename(columns={'id':'customer_id'},inplace=True)
cus_rolaty

                                              customer_id  loyaty
0       000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...       4
1       04a183a27a6877e560e1025216d0a3b40d88668c68366d...       5
2       acc241d1fa741176872220554edc844116b4a74780579b...       8
3       65543816d04fcfee94f9b3a818a207d5dcde77b0323d86...       8
4       6603cfa39dba7179cc7dd0c1da440e573e86bf4cf40364...       8
...                                                   ...     ...
229281  0e180eff374a2913c9eadeb6b19567f14e7a3b75866a78...       4
229282  0ea08ecb317f00bc5f20d0b7afa6ffc6ba952ba0066aad...       4
229283  9d7c9c3eb64ca3876bc72cb9670cc716d799f30cfb1480...       4
229284  17edf0710f8fdcb9ab5a0744bc8231459736ce240dd68c...       8
229285  455fa2393855ac0f19eae8778d0f639196cb87c4bd6af0...       4

[229286 rows x 2 columns]

In [5]:
df = pd.merge(df,cus_rolaty,on="customer_id",how='inner')

In [6]:
df

,customer_id,article_id,Buy,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,...,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,loyaty
0,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0562245001,0,0,0,0,1,1,3,115,...,8,1,0,43,3,2,15,14,1,4
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0399223001,0,0,0,0,1,1,3,59,...,8,1,0,8,1,1,7,15,1,4
2,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0562245018,0,0,0,0,1,1,3,115,...,2,2,1,43,3,2,15,14,1,4
3,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0610776002,0,0,0,0,1,1,3,182,...,8,1,0,18,3,2,14,4,1,4
4,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0484398001,0,0,0,0,1,1,3,149,...,8,1,0,24,6,4,8,5,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55945779,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0417951001,0,1,1,0,2,1,3,173,...,8,0,4,41,4,2,17,11,1,8
55945780,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0395127001,0,1,1,0,2,1,3,40,...,8,14,2,30,5,3,10,7,1,8
55945781,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0664074007,0,1,1,0,2,1,3,44,...,8,14,2,17,3,2,21,5,1,8
55945782,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0695632001,0,1,1,0,2,1,3,80,...,8,1,0,3,3,2,21,1,1,8
55945783,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0688341001,0,1,1,0,2,1,3,30,...,8,1,0,18,3,2,14,4,1,8

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 22 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           uint8
 6   fashion_news_frequency       uint8
 7   age_class                    uint8
 8   attribute                    uint8
 9   prod_name                    uint8
 10  product_type_name            uint8
 11  product_group_name           uint8
 12  graphical_appearance_name    uint8
 13  colour_group_name            uint8
 14  perceived_colour_value_name  uint8
 15  department_name              uint8
 16  index_name                   uint8
 17  index_group_name             uint8
 18  section_name                 uint8
 19  garment_group_name           uint8
 20  alive                        uint8
 21  loyaty                       int64
dtypes: int64(1), object(2), uint8(19)
memory usage: 2.7+ GB

In [7]:
df['loyaty'].value_counts()

4     31547980
8     22426040
3       912316
7       429440
5       216672
9       187636
6       121756
1        76372
2        13176
10       10248
11        3416
12         732
Name: loyaty, dtype: int64

In [8]:
#label_encoding
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['club_member_status'] = labelencoder.fit_transform(df['club_member_status'])
df['fashion_news_frequency'] = labelencoder.fit_transform(df['fashion_news_frequency'])
df['index_name'] = labelencoder.fit_transform(df['index_name'])
df['attribute'] = labelencoder.fit_transform(df['attribute'])
df['perceived_colour_value_name'] = labelencoder.fit_transform(df['perceived_colour_value_name'])
df['colour_group_name'] = labelencoder.fit_transform(df['colour_group_name'])
df['graphical_appearance_name'] = labelencoder.fit_transform(df['graphical_appearance_name'])
df['prod_name'] = labelencoder.fit_transform(df['prod_name'])
df['product_type_name'] = labelencoder.fit_transform(df['product_type_name'])
df['product_group_name'] = labelencoder.fit_transform(df['product_group_name'])
df['department_name'] = labelencoder.fit_transform(df['department_name'])
df['index_group_name'] = labelencoder.fit_transform(df['index_group_name'])
df['section_name'] = labelencoder.fit_transform(df['section_name'])
df['garment_group_name'] = labelencoder.fit_transform(df['garment_group_name'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 22 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           int64
 6   fashion_news_frequency       int64
 7   age_class                    uint8
 8   attribute                    int64
 9   prod_name                    int64
 10  product_type_name            int64
 11  product_group_name           int64
 12  graphical_appearance_name    int64
 13  colour_group_name            int64
 14  perceived_colour_value_name  int64
 15  department_name              int64
 16  index_name                   int64
 17  index_group_name             int64
 18  section_name                 int64
 19  garment_group_name           int64
 20  alive                        uint8
 21  loyaty                       int64
dtypes: int64(15), object(2), uint8(5)
memory usage: 7.8+ GB

In [9]:
df['club_member_status'] = df['club_member_status'].astype('uint8')
df['fashion_news_frequency'] = df['fashion_news_frequency'].astype('uint8')
df['prod_name'] = df['prod_name'].astype('uint8')
df['product_type_name'] = df['product_type_name'].astype('uint8')
df['product_group_name'] = df['product_group_name'].astype('uint8')
df['graphical_appearance_name'] = df['graphical_appearance_name'].astype('uint8')
df['colour_group_name'] = df['colour_group_name'].astype('uint8')
df['perceived_colour_value_name'] = df['perceived_colour_value_name'].astype('uint8')
df['department_name'] = df['department_name'].astype('uint8')
df['index_name'] = df['index_name'].astype('uint8')
df['index_group_name'] = df['index_group_name'].astype('uint8')
df['section_name'] = df['section_name'].astype('uint8')
df['garment_group_name'] = df['garment_group_name'].astype('uint8')
df['attribute'] = df['attribute'].astype('uint8')
df['alive'] = df['alive'].astype('uint8')
df['loyaty'] = df['loyaty'].astype('uint8')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 22 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           uint8
 6   fashion_news_frequency       uint8
 7   age_class                    uint8
 8   attribute                    uint8
 9   prod_name                    uint8
 10  product_type_name            uint8
 11  product_group_name           uint8
 12  graphical_appearance_name    uint8
 13  colour_group_name            uint8
 14  perceived_colour_value_name  uint8
 15  department_name              uint8
 16  index_name                   uint8
 17  index_group_name             uint8
 18  section_name                 uint8
 19  garment_group_name           uint8
 20  alive                        uint8
 21  loyaty                       uint8
dtypes: object(2), uint8(20)
memory usage: 2.3+ GB

In [10]:
#匯出pickle
import pickle
with open('df2.pickle','wb') as fw:
    pickle.dump(df,fw)

# 切訓練測試

In [20]:
y=df['Buy']
data=df.drop(['customer_id','article_id','Buy'],axis=1)

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, y,test_size=0.33, random_state=101)

In [22]:
undersampling = pd.concat([X_train,y_train],axis=1)
undersampling

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,loyaty,Buy
25466664,1,1,0,2,2,3,104,7,8,8,14,2,6,4,2,16,16,1,8,0
26629413,0,0,0,1,1,3,118,31,6,8,1,0,41,4,2,17,11,1,4,0
35783730,1,1,0,2,2,3,95,6,5,8,1,0,9,1,1,2,8,1,8,0
51504966,1,1,0,2,1,4,64,35,3,8,1,0,26,5,3,11,4,1,8,0
12119477,0,0,0,1,2,3,44,29,3,8,14,2,17,3,2,21,5,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311895,0,0,0,1,5,3,151,5,3,8,14,2,3,3,2,21,1,1,4,0
55187007,0,0,0,1,1,3,151,5,3,8,14,2,3,3,2,21,1,1,4,0
35079505,0,0,0,1,4,3,54,31,6,8,1,0,41,4,2,17,11,1,4,0
24331787,0,0,0,1,1,3,96,23,2,8,1,0,1,1,1,3,4,1,4,0
3322719,1,1,0,2,2,3,72,2,0,8,1,0,2,2,2,12,0,0,8,0

In [23]:
#篩選0的資料
undersampling_0 = undersampling[undersampling['Buy']==0]
undersampling_0

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,loyaty,Buy
25466664,1,1,0,2,2,3,104,7,8,8,14,2,6,4,2,16,16,1,8,0
26629413,0,0,0,1,1,3,118,31,6,8,1,0,41,4,2,17,11,1,4,0
35783730,1,1,0,2,2,3,95,6,5,8,1,0,9,1,1,2,8,1,8,0
51504966,1,1,0,2,1,4,64,35,3,8,1,0,26,5,3,11,4,1,8,0
12119477,0,0,0,1,2,3,44,29,3,8,14,2,17,3,2,21,5,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311895,0,0,0,1,5,3,151,5,3,8,14,2,3,3,2,21,1,1,4,0
55187007,0,0,0,1,1,3,151,5,3,8,14,2,3,3,2,21,1,1,4,0
35079505,0,0,0,1,4,3,54,31,6,8,1,0,41,4,2,17,11,1,4,0
24331787,0,0,0,1,1,3,96,23,2,8,1,0,1,1,1,3,4,1,4,0
3322719,1,1,0,2,2,3,72,2,0,8,1,0,2,2,2,12,0,0,8,0

In [24]:
#篩選1的資料
undersampling_1 = undersampling[undersampling['Buy']==1]
undersampling_1

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,loyaty,Buy
15792837,1,1,0,2,2,3,134,19,3,8,1,0,1,1,1,3,4,1,8,1
47780350,1,1,0,2,5,3,42,8,3,8,1,0,22,3,2,21,6,1,8,1
37632437,1,1,0,2,4,3,168,25,6,8,1,0,32,4,2,17,11,1,8,1
26824951,1,1,0,2,1,3,83,31,6,0,1,0,41,4,2,17,11,0,8,1
42856310,0,0,0,1,2,3,49,32,8,8,1,0,12,4,2,16,16,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21347134,0,0,0,1,4,3,65,35,3,8,1,0,17,3,2,13,5,1,4,1
47800705,0,0,0,1,4,3,44,29,3,8,1,0,17,3,2,21,5,1,4,1
14788690,0,0,3,1,4,3,115,30,2,8,14,2,43,3,2,15,14,0,3,1
21288864,0,0,0,1,2,3,15,25,6,8,14,2,32,4,2,17,11,1,4,1
12023355,0,0,0,1,3,1,15,25,6,8,1,0,32,4,2,17,11,1,4,1

In [25]:
#打亂資料
from sklearn.utils import shuffle
undersampling_0 = shuffle(undersampling_0)
undersampling_0.head()

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,loyaty,Buy
23048179,1,1,0,2,4,1,25,30,2,4,7,1,1,1,1,3,4,1,8,0
50935807,1,1,0,2,4,3,47,7,8,8,5,3,12,4,2,16,16,1,8,0
19766294,1,1,0,2,1,3,127,28,3,8,1,0,18,3,2,14,4,1,8,0
12457671,0,0,0,1,4,3,33,31,6,8,1,0,41,4,2,17,11,1,4,0
21265860,1,1,0,2,4,3,63,30,2,8,1,0,46,3,2,6,14,0,8,0

In [26]:
undersampling_1['Buy'].value_counts()

1    628965
Name: Buy, dtype: int64

In [27]:
#取樣
under=undersampling_0.sample(n=628965,random_state=123,axis=0,replace=False)

In [28]:
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,loyaty,Buy
18969570,0,0,0,1,2,3,53,17,2,8,1,0,41,4,2,17,11,1,4,0
2710966,0,0,0,1,1,3,39,27,7,8,1,0,40,4,2,20,13,1,4,0
46217050,0,0,0,1,1,4,53,17,2,8,1,0,41,4,2,17,11,1,4,0
54112755,0,0,0,1,3,3,70,17,2,8,1,0,41,4,2,17,11,1,4,0
43868271,0,0,0,1,4,3,30,28,3,8,1,0,18,3,2,14,4,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27295506,0,0,0,1,1,3,6,31,6,8,0,4,41,4,2,17,11,1,4,0
44038623,0,0,0,1,4,3,29,28,3,8,1,0,18,3,2,14,4,0,4,0
47793865,1,1,0,2,3,3,148,30,2,2,3,4,8,1,1,7,15,1,8,0
4257972,1,1,0,2,3,3,180,30,2,8,1,0,43,3,2,15,14,1,8,0
18764332,1,1,0,2,2,4,115,30,2,8,1,0,43,3,2,15,14,0,8,0

In [29]:
#合併0和1
under = pd.concat([under,undersampling_1],ignore_index=True)
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,loyaty,Buy
0,0,0,0,1,2,3,53,17,2,8,1,0,41,4,2,17,11,1,4,0
1,0,0,0,1,1,3,39,27,7,8,1,0,40,4,2,20,13,1,4,0
2,0,0,0,1,1,4,53,17,2,8,1,0,41,4,2,17,11,1,4,0
3,0,0,0,1,3,3,70,17,2,8,1,0,41,4,2,17,11,1,4,0
4,0,0,0,1,4,3,30,28,3,8,1,0,18,3,2,14,4,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257925,0,0,0,1,4,3,65,35,3,8,1,0,17,3,2,13,5,1,4,1
1257926,0,0,0,1,4,3,44,29,3,8,1,0,17,3,2,21,5,1,4,1
1257927,0,0,3,1,4,3,115,30,2,8,14,2,43,3,2,15,14,0,3,1
1257928,0,0,0,1,2,3,15,25,6,8,14,2,32,4,2,17,11,1,4,1
1257929,0,0,0,1,3,1,15,25,6,8,1,0,32,4,2,17,11,1,4,1

In [30]:
#打亂資料
from sklearn.utils import shuffle
under = shuffle(under)
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,loyaty,Buy
348907,0,0,3,1,2,3,59,30,2,2,1,0,8,1,1,7,15,0,3,0
1063551,0,0,0,1,5,3,182,28,3,8,14,2,18,3,2,14,4,1,4,1
11894,0,0,3,1,4,3,31,28,3,8,1,0,18,3,2,14,4,1,3,0
1146225,1,1,0,2,1,3,109,35,3,8,1,0,3,3,2,15,1,0,8,1
710494,0,0,0,1,1,3,104,7,8,8,14,2,6,4,2,16,16,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271065,0,0,0,1,1,3,97,30,2,8,1,0,19,5,3,1,5,1,4,0
637084,1,1,0,2,2,3,79,33,8,7,1,0,6,4,2,16,16,0,8,1
1075104,1,1,0,2,2,3,33,31,6,8,1,0,41,4,2,17,11,0,8,1
1061477,0,0,0,1,4,3,51,31,6,8,1,0,41,4,2,17,11,1,4,1
708040,1,1,0,2,2,3,115,30,2,8,1,0,43,3,2,15,14,1,8,1

# under完XGB

In [31]:
y_train = under['Buy']
y_train

348907     0
1063551    1
11894      0
1146225    1
710494     1
          ..
271065     0
637084     1
1075104    1
1061477    1
708040     1
Name: Buy, Length: 1257930, dtype: uint8

In [32]:
X_train = under.drop('Buy',axis=1)
X_train

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,alive,loyaty
348907,0,0,3,1,2,3,59,30,2,2,1,0,8,1,1,7,15,0,3
1063551,0,0,0,1,5,3,182,28,3,8,14,2,18,3,2,14,4,1,4
11894,0,0,3,1,4,3,31,28,3,8,1,0,18,3,2,14,4,1,3
1146225,1,1,0,2,1,3,109,35,3,8,1,0,3,3,2,15,1,0,8
710494,0,0,0,1,1,3,104,7,8,8,14,2,6,4,2,16,16,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271065,0,0,0,1,1,3,97,30,2,8,1,0,19,5,3,1,5,1,4
637084,1,1,0,2,2,3,79,33,8,7,1,0,6,4,2,16,16,0,8
1075104,1,1,0,2,2,3,33,31,6,8,1,0,41,4,2,17,11,0,8
1061477,0,0,0,1,4,3,51,31,6,8,1,0,41,4,2,17,11,1,4
708040,1,1,0,2,2,3,115,30,2,8,1,0,43,3,2,15,14,1,8

In [33]:
from xgboost.sklearn import XGBClassifier

xgbc = XGBClassifier(        
        n_estimators=8,     #樹的個數
        learning_rate= 0.1,    # 如同學習率 
        max_depth=6,       # 構建樹的深度，越大越容易過擬合    
        subsample=1,         # 隨機取樣訓練樣本 訓練例項的子取樣比
        gamma=0,         # 用於控制是否後剪枝的引數,越大越保守，一般0.1、0.2這樣子
        reg_lambda=1,          # 控制模型複雜度的權重值的L2正則化項引數，引數越大，模型越不容易過擬合。
        max_delta_step=0,        #最大增量步長，我們允許每個樹的權重估計。
        colsample_bytree=1,         # 生成樹時進行的列取樣 
        min_child_weight=1, 
                     # 這個引數預設是 1，是每個葉子裡面 h 的和至少是多少，對正負樣本不均衡時的 0-1 分類而言
                     # 假設 h 在 0.01 附近，min_child_weight 為 1 意味著葉子節點中最少需要包含 100 個樣本。
                     #這個引數非常影響結果，控制葉子節點中二階導的和的最小值，該引數值越小，越容易 overfitting。
        seed=1000         #隨機種子
#       reg_alpha=0,        # L1 正則項引數
#       scale_pos_weight=1,        #如果取值大於0的話，在類別樣本不平衡的情況下有助於快速收斂。平衡正負權重
#       objective= 'multi:softmax',         #多分類的問題 指定學習任務和相應的學習目標
#       num_class=10,        # 類別數，多分類與 multisoftmax 並用
#       silent=0 ,        # 設定成1則沒有執行資訊輸出，最好是設定為0.是否在執行升級時列印訊息。
#       nthread=4,        # cpu 執行緒數 預設最大
#       eval_metric= 'auc'
)

#xgbc = XGBClassifier(max_depth=5,learning_rate=0.1,n_estimators=160,silent=True,objective='multi:softmax')
#xgbc = XGBClassifier()

D:\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [34]:
xgbc.fit(X_train, y_train)
XGB_pred=xgbc.predict(X_test)
print(XGB_pred)

D:\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
D:\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[23:10:13] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[0 1 0 ... 1 1 0]

In [35]:
XGBtrain_score=xgbc.score(X_train, y_train)
print(XGBtrain_score)

0.6087453196918747

In [36]:
XGBtest_score=xgbc.score(X_test,y_test)
print('The Accuracy of XGBOOST Classifier on testing set:', XGBtest_score)

The Accuracy of XGBOOST Classifier on testing set: 0.5878490371820467

In [37]:
# Sckit-Learn
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,XGB_pred))
print(confusion_matrix(y_test,XGB_pred))

              precision    recall  f1-score   support

           0       0.99      0.59      0.74  18152401
           1       0.03      0.63      0.05    309708

    accuracy                           0.59  18462109
   macro avg       0.51      0.61      0.39  18462109
weighted avg       0.97      0.59      0.73  18462109

[[10658235  7494166]
 [  115010   194698]]

# LGBM

In [38]:
import numpy as np
import pandas as pd
import lightgbm as lgb
from sklearn.preprocessing import LabelBinarizer

In [39]:
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier()

In [40]:
lgbmc.fit(X_train, y_train)
LGBM_pred=lgbmc.predict(X_test)
print(LGBM_pred)

[0 1 0 ... 0 1 0]

In [41]:
LGBMtrain_score=lgbmc.score(X_train, y_train)
print(LGBMtrain_score)

0.6608547375450144

In [42]:
LGBMtest_score=lgbmc.score(X_test,y_test)
print('The Accuracy of LightGBM Classifier on testing set:', LGBMtest_score)

The Accuracy of LightGBM Classifier on testing set: 0.690048520458849

In [43]:
print(classification_report(y_test,LGBM_pred))
print(confusion_matrix(y_test,LGBM_pred))

              precision    recall  f1-score   support

           0       0.99      0.69      0.81  18152401
           1       0.03      0.63      0.06    309708

    accuracy                           0.69  18462109
   macro avg       0.51      0.66      0.44  18462109
weighted avg       0.97      0.69      0.80  18462109

[[12545159  5607242]
 [  115116   194592]]