In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open ('df.pickle','rb') as fr:
    df = pickle.load(fr)

In [ ]:
df

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 21 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   price                        float64
 4   FN                           uint8
 5   Active                       uint8
 6   club_member_status           object
 7   fashion_news_frequency       object
 8   age_class                    uint8
 9   attribute                    object
 10  prod_name                    object
 11  product_type_name            object
 12  product_group_name           object
 13  graphical_appearance_name    object
 14  colour_group_name            object
 15  perceived_colour_value_name  object
 16  department_name              object
 17  index_name                   object
 18  index_group_name             object
 19  section_name                 object
 20  garment_group_name           object
dtypes: float64(1), object(16), uint8(4)
memory usage: 7.7+ GB

In [4]:
df.drop(['price'],axis = 1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 20 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           object
 6   fashion_news_frequency       object
 7   age_class                    uint8
 8   attribute                    object
 9   prod_name                    object
 10  product_type_name            object
 11  product_group_name           object
 12  graphical_appearance_name    object
 13  colour_group_name            object
 14  perceived_colour_value_name  object
 15  department_name              object
 16  index_name                   object
 17  index_group_name             object
 18  section_name                 object
 19  garment_group_name           object
dtypes: object(16), uint8(4)
memory usage: 7.3+ GB

In [5]:
df['Buy'].value_counts()

0    55007111
1      938673
Name: Buy, dtype: int64

In [6]:
#label_encoding
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df['club_member_status'] = labelencoder.fit_transform(df['club_member_status'])
df['fashion_news_frequency'] = labelencoder.fit_transform(df['fashion_news_frequency'])
df['index_name'] = labelencoder.fit_transform(df['index_name'])
df['attribute'] = labelencoder.fit_transform(df['attribute'])
df['perceived_colour_value_name'] = labelencoder.fit_transform(df['perceived_colour_value_name'])
df['colour_group_name'] = labelencoder.fit_transform(df['colour_group_name'])
df['graphical_appearance_name'] = labelencoder.fit_transform(df['graphical_appearance_name'])
df['prod_name'] = labelencoder.fit_transform(df['prod_name'])
df['product_type_name'] = labelencoder.fit_transform(df['product_type_name'])
df['product_group_name'] = labelencoder.fit_transform(df['product_group_name'])
df['department_name'] = labelencoder.fit_transform(df['department_name'])
df['index_group_name'] = labelencoder.fit_transform(df['index_group_name'])
df['section_name'] = labelencoder.fit_transform(df['section_name'])
df['garment_group_name'] = labelencoder.fit_transform(df['garment_group_name'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 20 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           int32
 6   fashion_news_frequency       int32
 7   age_class                    uint8
 8   attribute                    int32
 9   prod_name                    int32
 10  product_type_name            int32
 11  product_group_name           int32
 12  graphical_appearance_name    int32
 13  colour_group_name            int32
 14  perceived_colour_value_name  int32
 15  department_name              int32
 16  index_name                   int32
 17  index_group_name             int32
 18  section_name                 int32
 19  garment_group_name           int32
dtypes: int32(14), object(2), uint8(4)
memory usage: 4.4+ GB

In [7]:
df['club_member_status'] = df['club_member_status'].astype('uint8')
df['fashion_news_frequency'] = df['fashion_news_frequency'].astype('uint8')
df['prod_name'] = df['prod_name'].astype('uint8')
df['product_type_name'] = df['product_type_name'].astype('uint8')
df['product_group_name'] = df['product_group_name'].astype('uint8')
df['graphical_appearance_name'] = df['graphical_appearance_name'].astype('uint8')
df['colour_group_name'] = df['colour_group_name'].astype('uint8')
df['perceived_colour_value_name'] = df['perceived_colour_value_name'].astype('uint8')
df['department_name'] = df['department_name'].astype('uint8')
df['index_name'] = df['index_name'].astype('uint8')
df['index_group_name'] = df['index_group_name'].astype('uint8')
df['section_name'] = df['section_name'].astype('uint8')
df['garment_group_name'] = df['garment_group_name'].astype('uint8')
df['attribute'] = df['attribute'].astype('uint8')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55945784 entries, 0 to 55945783
Data columns (total 20 columns):
 #   Column                       Dtype
---  ------                       -----
 0   customer_id                  object
 1   article_id                   object
 2   Buy                          uint8
 3   FN                           uint8
 4   Active                       uint8
 5   club_member_status           uint8
 6   fashion_news_frequency       uint8
 7   age_class                    uint8
 8   attribute                    uint8
 9   prod_name                    uint8
 10  product_type_name            uint8
 11  product_group_name           uint8
 12  graphical_appearance_name    uint8
 13  colour_group_name            uint8
 14  perceived_colour_value_name  uint8
 15  department_name              uint8
 16  index_name                   uint8
 17  index_group_name             uint8
 18  section_name                 uint8
 19  garment_group_name           uint8
dtypes: object(2), uint8(18)
memory usage: 2.2+ GB

# 切訓練測試

In [8]:
y=df['Buy']
data=df.drop(['customer_id','article_id','Buy'],axis=1)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, y,test_size=0.33, random_state=101)

In [10]:
undersampling = pd.concat([X_train,y_train],axis=1)
undersampling

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
25466664,1,1,0,2,1,4,28,30,2,8,2,4,44,1,1,4,14,0
26629413,1,1,0,2,1,3,143,28,3,8,14,2,26,5,3,11,4,0
35783730,1,1,0,2,3,1,132,35,3,8,1,0,25,6,4,8,5,0
51504966,1,1,0,2,5,3,169,30,2,2,10,1,8,1,1,7,15,0
12119477,1,1,0,2,1,4,99,30,2,8,10,2,44,1,1,4,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311895,1,1,0,2,1,4,59,30,2,8,1,0,8,1,1,7,15,0
55187007,0,0,0,1,2,3,40,21,3,8,14,2,30,5,3,10,7,0
35079505,0,0,0,1,2,3,144,26,3,8,1,0,42,1,1,4,6,0
24331787,0,0,0,1,3,3,193,30,2,8,1,0,43,3,2,21,14,0
3322719,1,1,0,2,1,3,121,4,3,8,1,0,39,3,2,21,2,0

In [11]:
#篩選0的資料
undersampling_0 = undersampling[undersampling['Buy']==0]
undersampling_0

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
25466664,1,1,0,2,1,4,28,30,2,8,2,4,44,1,1,4,14,0
26629413,1,1,0,2,1,3,143,28,3,8,14,2,26,5,3,11,4,0
35783730,1,1,0,2,3,1,132,35,3,8,1,0,25,6,4,8,5,0
51504966,1,1,0,2,5,3,169,30,2,2,10,1,8,1,1,7,15,0
12119477,1,1,0,2,1,4,99,30,2,8,10,2,44,1,1,4,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311895,1,1,0,2,1,4,59,30,2,8,1,0,8,1,1,7,15,0
55187007,0,0,0,1,2,3,40,21,3,8,14,2,30,5,3,10,7,0
35079505,0,0,0,1,2,3,144,26,3,8,1,0,42,1,1,4,6,0
24331787,0,0,0,1,3,3,193,30,2,8,1,0,43,3,2,21,14,0
3322719,1,1,0,2,1,3,121,4,3,8,1,0,39,3,2,21,2,0

In [12]:
#篩選1的資料
undersampling_1 = undersampling[undersampling['Buy']==1]
undersampling_1

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
29662415,1,1,0,2,4,3,44,29,3,8,1,0,17,3,2,21,5,1
31361659,1,1,0,2,2,3,158,30,2,2,10,1,11,3,2,7,15,1
12805040,0,0,0,1,1,4,92,30,2,8,1,0,44,1,1,4,14,1
15744148,0,0,0,1,1,4,92,30,2,8,10,2,44,1,1,4,14,1
5416579,1,1,0,2,1,3,6,31,6,8,1,0,41,4,2,17,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14979498,0,0,0,1,4,4,160,30,2,2,2,4,8,1,1,7,15,1
55489519,0,0,0,1,5,3,80,5,3,8,1,0,3,3,2,21,1,1
6695399,0,0,0,1,2,3,10,25,6,8,1,0,32,4,2,17,11,1
37752792,0,0,0,1,4,3,183,27,7,8,1,0,40,4,2,20,13,1
42724362,0,0,0,1,5,3,127,28,3,8,14,2,18,3,2,14,4,1

In [13]:
#打亂資料
from sklearn.utils import shuffle
undersampling_0 = shuffle(undersampling_0)
undersampling_0.head()

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
1297844,1,1,0,2,4,3,88,26,3,8,1,0,22,3,2,21,6,0
19260526,1,1,0,2,1,4,130,7,8,8,1,0,7,4,2,16,16,0
32419001,1,0,0,2,2,3,65,35,3,8,14,2,17,3,2,13,5,0
2748673,0,0,0,1,1,3,15,25,6,8,1,0,32,4,2,17,11,0
51655765,0,0,0,1,5,3,60,0,0,8,1,0,0,2,2,12,0,0

In [14]:
undersampling_1['Buy'].value_counts()

1    628602
Name: Buy, dtype: int64

In [15]:
#取樣
under=undersampling_0.sample(n=628602,random_state=123,axis=0,replace=False)

In [16]:
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
42452639,1,1,0,2,3,3,26,17,2,8,1,0,44,1,1,4,14,0
20758681,0,0,0,1,3,3,5,31,6,8,1,0,41,4,2,17,11,0
35793408,1,1,0,2,1,3,132,35,3,8,1,0,25,6,4,8,5,0
48594294,0,0,0,1,2,3,122,35,3,8,14,2,17,3,2,9,5,0
52189353,0,0,0,1,3,3,92,30,2,8,3,4,44,1,1,4,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004964,1,1,0,2,1,3,154,17,2,8,1,0,41,4,2,17,11,0
1398833,0,0,0,1,2,3,102,30,2,8,1,0,43,3,2,15,14,0
16240989,1,1,0,2,4,3,84,17,2,1,1,0,1,1,1,3,4,0
39205903,0,0,0,1,2,4,133,3,7,8,1,0,40,4,2,20,13,0
16662792,0,0,0,1,2,3,45,32,8,8,1,0,12,4,2,16,16,0

In [17]:
#合併0和1
under = pd.concat([under,undersampling_1],ignore_index=True)
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
0,1,1,0,2,3,3,26,17,2,8,1,0,44,1,1,4,14,0
1,0,0,0,1,3,3,5,31,6,8,1,0,41,4,2,17,11,0
2,1,1,0,2,1,3,132,35,3,8,1,0,25,6,4,8,5,0
3,0,0,0,1,2,3,122,35,3,8,14,2,17,3,2,9,5,0
4,0,0,0,1,3,3,92,30,2,8,3,4,44,1,1,4,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257199,0,0,0,1,4,4,160,30,2,2,2,4,8,1,1,7,15,1
1257200,0,0,0,1,5,3,80,5,3,8,1,0,3,3,2,21,1,1
1257201,0,0,0,1,2,3,10,25,6,8,1,0,32,4,2,17,11,1
1257202,0,0,0,1,4,3,183,27,7,8,1,0,40,4,2,20,13,1
1257203,0,0,0,1,5,3,127,28,3,8,14,2,18,3,2,14,4,1

In [18]:
#打亂資料
from sklearn.utils import shuffle
under = shuffle(under)
under

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name,Buy
216319,1,1,0,2,1,3,47,7,8,8,5,3,12,4,2,16,16,0
651317,1,1,0,2,3,4,59,30,2,8,1,0,8,1,1,7,15,1
1077293,0,0,0,1,4,3,182,28,3,8,1,0,18,3,2,14,4,1
520124,1,1,0,2,5,3,64,35,3,8,1,0,26,5,3,11,4,0
1118943,0,0,0,1,4,3,92,30,2,8,1,0,44,1,1,4,14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669486,1,1,0,2,2,3,154,17,2,8,1,0,41,4,2,17,11,1
897494,1,1,0,2,2,3,130,7,8,8,9,1,7,4,2,16,16,1
610936,0,0,0,1,2,3,158,30,2,8,14,2,11,3,2,7,15,0
856456,0,0,0,1,2,3,39,27,7,8,1,0,40,4,2,20,13,1
608687,0,0,0,1,2,3,16,25,6,8,1,0,38,5,3,11,11,0

# under 完XGB

In [19]:
y_train = under['Buy']
y_train

216319     0
651317     1
1077293    1
520124     0
1118943    1
          ..
669486     1
897494     1
610936     0
856456     1
608687     0
Name: Buy, Length: 1257204, dtype: uint8

In [20]:
X_train = under.drop('Buy',axis=1)
X_train

,FN,Active,club_member_status,fashion_news_frequency,age_class,attribute,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,index_group_name,section_name,garment_group_name
216319,1,1,0,2,1,3,47,7,8,8,5,3,12,4,2,16,16
651317,1,1,0,2,3,4,59,30,2,8,1,0,8,1,1,7,15
1077293,0,0,0,1,4,3,182,28,3,8,1,0,18,3,2,14,4
520124,1,1,0,2,5,3,64,35,3,8,1,0,26,5,3,11,4
1118943,0,0,0,1,4,3,92,30,2,8,1,0,44,1,1,4,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669486,1,1,0,2,2,3,154,17,2,8,1,0,41,4,2,17,11
897494,1,1,0,2,2,3,130,7,8,8,9,1,7,4,2,16,16
610936,0,0,0,1,2,3,158,30,2,8,14,2,11,3,2,7,15
856456,0,0,0,1,2,3,39,27,7,8,1,0,40,4,2,20,13
608687,0,0,0,1,2,3,16,25,6,8,1,0,38,5,3,11,11

In [21]:
from xgboost.sklearn import XGBClassifier

xgbc = XGBClassifier(        
        n_estimators=8,     #樹的個數
        learning_rate= 0.1,    # 如同學習率 
        max_depth=6,       # 構建樹的深度，越大越容易過擬合    
        subsample=1,         # 隨機取樣訓練樣本 訓練例項的子取樣比
        gamma=0,         # 用於控制是否後剪枝的引數,越大越保守，一般0.1、0.2這樣子
        reg_lambda=1,          # 控制模型複雜度的權重值的L2正則化項引數，引數越大，模型越不容易過擬合。
        max_delta_step=0,        #最大增量步長，我們允許每個樹的權重估計。
        colsample_bytree=1,         # 生成樹時進行的列取樣 
        min_child_weight=1, 
                     # 這個引數預設是 1，是每個葉子裡面 h 的和至少是多少，對正負樣本不均衡時的 0-1 分類而言
                     # 假設 h 在 0.01 附近，min_child_weight 為 1 意味著葉子節點中最少需要包含 100 個樣本。
                     #這個引數非常影響結果，控制葉子節點中二階導的和的最小值，該引數值越小，越容易 overfitting。
        seed=1000         #隨機種子
#       reg_alpha=0,        # L1 正則項引數
#       scale_pos_weight=1,        #如果取值大於0的話，在類別樣本不平衡的情況下有助於快速收斂。平衡正負權重
#       objective= 'multi:softmax',         #多分類的問題 指定學習任務和相應的學習目標
#       num_class=10,        # 類別數，多分類與 multisoftmax 並用
#       silent=0 ,        # 設定成1則沒有執行資訊輸出，最好是設定為0.是否在執行升級時列印訊息。
#       nthread=4,        # cpu 執行緒數 預設最大
#       eval_metric= 'auc'
)

#xgbc = XGBClassifier(max_depth=5,learning_rate=0.1,n_estimators=160,silent=True,objective='multi:softmax')
#xgbc = XGBClassifier()

D:\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [23]:
xgbc.fit(X_train, y_train)
XGB_pred=xgbc.predict(X_test)
print(XGB_pred)

D:\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
D:\anaconda3\lib\site-packages\xgboost\data.py:250: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

[21:42:44] WARNING: ..\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
[1 0 1 ... 1 0 1]

In [24]:
XGBtrain_score=xgbc.score(X_train, y_train)
print(XGBtrain_score)

0.6151451952109602

In [25]:
XGBtest_score=xgbc.score(X_test,y_test)
print('The Accuracy of XGBOOST Classifier on testing set:', XGBtest_score)

The Accuracy of XGBOOST Classifier on testing set: 0.5945468093596458

In [26]:
# Sckit-Learn
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,XGB_pred))
print(confusion_matrix(y_test,XGB_pred))

              precision    recall  f1-score   support

           0       0.99      0.59      0.74  18152038
           1       0.03      0.64      0.05    310071

    accuracy                           0.59  18462109
   macro avg       0.51      0.61      0.40  18462109
weighted avg       0.97      0.59      0.73  18462109

[[10779641  7372397]
 [  113124   196947]]

# LGBM

In [22]:
import numpy as np
import pandas as pd
import lightgbm as lgb
from sklearn.preprocessing import LabelBinarizer

In [23]:
import lightgbm as lgb
lgbmc = lgb.LGBMClassifier()

In [24]:
lgbmc.fit(X_train, y_train)
LGBM_pred=lgbmc.predict(X_test)
print(LGBM_pred)

[0 0 0 ... 0 0 1]

In [25]:
LGBMtrain_score=lgbmc.score(X_train, y_train)
print(LGBMtrain_score)

0.6574191618862174

In [26]:
LGBMtest_score=lgbmc.score(X_test,y_test)
print('The Accuracy of LightGBM Classifier on testing set:', LGBMtest_score)

The Accuracy of LightGBM Classifier on testing set: 0.6881451626138704

In [28]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(y_test,LGBM_pred))
print(confusion_matrix(y_test,LGBM_pred))

              precision    recall  f1-score   support

           0       0.99      0.69      0.81  18152038
           1       0.03      0.62      0.06    310071

    accuracy                           0.69  18462109
   macro avg       0.51      0.66      0.44  18462109
weighted avg       0.97      0.69      0.80  18462109

[[12510824  5641214]
 [  116284   193787]]