In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_test = pd.read_csv('test(include_y)_data_label0417.csv',dtype={'article_id': str})
df_train = pd.read_csv('train(include_y)_data_label0417.csv',dtype={'article_id': str})

In [3]:
df_test

,customer_id,article_id,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,Buy,price,avg_consume,loyaty,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
0,24f4a46c41a9e9f11c152b1096a27da0f0d44c02e7d0f1...,0636323001,3,0,1,1,0,0.017729,13.003846,8,...,8,1,1,7,15,5,4,0,0,0
1,84f2a30f09795ebdabb72fe4e0f29d84460cc91db9cc07...,0516000001,3,0,0,1,0,0.016932,13.061102,4,...,17,3,2,21,5,5,4,0,1,1
2,e781b8189a3238a6fcf69e0d485c1601872e2206079aef...,0562245015,2,4,0,1,0,0.033881,13.077429,4,...,43,3,2,15,14,5,4,0,0,3
3,56233072a2492eabbf75fe2b398c5681bf5cb4aa87a7eb...,0561445006,3,0,1,1,0,0.008458,13.090082,4,...,18,3,2,14,4,4,4,0,1,1
4,ec789476806be1eccdeda2d7f04a8887ce6c0ee9a32ea1...,0399087014,3,0,0,1,0,0.033881,13.043211,4,...,8,1,1,7,15,5,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16783731,6fe0697a2b7430f677ff333efce93e9af3d36063fb8f1f...,0673677002,2,4,3,1,0,0.025407,13.090082,8,...,22,3,2,21,6,3,4,0,1,0
16783732,d6d68d590f739a54837ff28637a19dfde1ae41607ccd52...,0624486001,3,0,1,1,0,0.022017,12.920238,4,...,1,1,1,3,4,5,4,0,1,0
16783733,307a998b44e30f46c8298ec3fe653763191bfec0a964a9...,0457892003,3,0,0,1,0,0.025407,13.159061,4,...,18,3,2,14,4,5,4,0,1,0
16783734,e929ef9f1f30d81c71be72d11722127472a91d608b37eb...,0574109012,2,3,1,0,0,0.025407,13.105528,4,...,42,1,1,4,6,5,4,0,1,4
16783735,c6ebae538cf0d61f436c9df2863a2438cd9614ae2d385a...,0554450025,2,3,1,0,0,0.033881,13.048618,4,...,44,1,1,4,14,5,4,0,1,0

In [4]:
df_train

,customer_id,article_id,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,Buy,price,avg_consume,loyaty,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
0,ddcfd76583207fc356c63ebe110551e7efccc4234d4f27...,0186262001,3,0,1,1,0,0.004220,13.101959,4,...,15,2,2,19,0,5,4,0,1,0
1,9168c0d9ad978a137dcf93b617d583122319a0e701c3e2...,0610776001,2,4,3,1,1,0.008475,13.077429,4,...,18,3,2,14,4,5,4,0,1,1
2,aa2c9d7341dd1ee43158cc459788040f0ab1f2c6bc4425...,0487722001,3,0,3,1,0,0.042356,13.210567,4,...,12,4,2,16,16,5,4,0,1,0
3,3d2311b2ec144bfe5f41b36dba5b7e8c34c7c0b082b380...,0507883009,3,0,1,1,0,0.013542,13.146179,4,...,7,4,2,16,16,5,4,0,1,0
4,eedfd1012fc1ef00e633e67fdc199d3c43141b255a8e10...,0570003002,3,0,0,1,1,0.013542,13.090082,8,...,26,5,3,11,4,5,3,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1313811,4c0828bfe74b120943f0072de5bd3f2df052851dbab104...,0706016001,1,1,0,0,1,0.033881,13.113659,4,...,44,1,1,4,14,5,4,0,1,0
1313812,46f86292dd19f6c1127808f8183886b918784325cf262e...,0556539001,3,0,3,1,0,0.006763,13.077429,8,...,15,2,2,19,0,5,3,0,1,0
1313813,012ae734fb97c1f44025243d4b5a33ebfad7c222a80cf9...,0372860001,3,0,1,1,1,0.013542,12.791615,9,...,32,4,2,17,11,5,4,0,1,0
1313814,5d21b486df8b6bfe706c367ee6ac5b33f76def8a7ca7e1...,0615141002,3,0,3,1,0,0.025407,13.390081,8,...,20,3,2,15,5,5,3,0,1,0
1313815,93bd2d953782becc644c600dff447e7f7686990b05ad3f...,0519583013,3,0,3,1,0,0.025407,13.101959,8,...,8,1,1,7,15,5,4,0,0,1

In [5]:
X_test = df_test[['price','cluster_age_avgconsume','alive','Buy_n_year',\
                 'loyaty','avg_consume','age_class','attribute','graphical_rename',\
                 'color_rename','garment_group_name']]
y_test = df_test['Buy']
X_train = df_train[['price','cluster_age_avgconsume','alive','Buy_n_year',\
                 'loyaty','avg_consume','age_class','attribute','graphical_rename',\
                 'color_rename','garment_group_name']]
y_train = df_train['Buy']

In [203]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16783736 entries, 0 to 16783735
Data columns (total 11 columns):
 #   Column                  Dtype
---  ------                  -----
 0   price                   float64
 1   cluster_age_avgconsume  int64
 2   alive                   int64
 3   Buy_n_year              int64
 4   loyaty                  int64
 5   avg_consume             float64
 6   age_class               int64
 7   attribute               int64
 8   graphical_rename        int64
 9   color_rename            int64
 10  garment_group_name      int64
dtypes: float64(2), int64(9)
memory usage: 1.4 GB

In [6]:
X_train

,price,cluster_age_avgconsume,alive,Buy_n_year,loyaty,avg_consume,age_class,attribute,graphical_rename,color_rename,garment_group_name
0,0.004220,1,1,3,4,13.101959,3,4,1,0,0
1,0.008475,3,1,2,4,13.077429,2,3,1,1,4
2,0.042356,3,1,3,4,13.210567,3,3,1,0,16
3,0.013542,1,1,3,4,13.146179,3,4,1,0,16
4,0.013542,0,1,3,8,13.090082,2,3,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...
1313811,0.033881,0,0,1,4,13.113659,1,4,1,0,14
1313812,0.006763,3,1,3,8,13.077429,2,3,1,0,0
1313813,0.013542,1,1,3,9,12.791615,4,3,1,0,11
1313814,0.025407,3,1,3,8,13.390081,2,3,1,0,5
1313815,0.025407,3,1,3,8,13.101959,3,3,0,1,15

In [206]:
with open ('xgboost.pickle','rb') as fr:
    xgbc = pickle.load(fr)

D:\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [207]:
XGB_pred=xgbc.predict(X_test)
print(XGB_pred)

[1 0 0 ... 0 0 0]

In [208]:
XGBtrain_score=xgbc.score(X_train, y_train)
print(XGBtrain_score)

0.6947738496106

In [209]:
XGBtest_score=xgbc.score(X_test,y_test)
print('The Accuracy of XGBOOST Classifier on testing set:', XGBtest_score)

The Accuracy of XGBOOST Classifier on testing set: 0.693745242418017

In [210]:
# Sckit-Learn
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,XGB_pred))
print(confusion_matrix(y_test,XGB_pred))

              precision    recall  f1-score   support

           0       0.99      0.69      0.82  16501971
           1       0.04      0.66      0.07    281765

    accuracy                           0.69  16783736
   macro avg       0.51      0.68      0.44  16783736
weighted avg       0.98      0.69      0.80  16783736

[[11456975  5044996]
 [   95103   186662]]

In [7]:
with open ('LGBM.pickle','rb') as fr:
    lgbmc = pickle.load(fr)

D:\anaconda3\lib\site-packages\sklearn\base.py:329: UserWarning: Trying to unpickle estimator LabelEncoder from version 0.23.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [201]:
LGBM_pred=lgbmc.predict(X_test)
print(LGBM_pred)

[1 0 0 ... 0 0 0]

In [205]:
LGBMtrain_score=lgbmc.score(X_train, y_train)
print(LGBMtrain_score)

0.6789573273578644

In [204]:
LGBMtest_score=lgbmc.score(X_test,y_test)
print('The Accuracy of LightGBM Classifier on testing set:', LGBMtest_score)

The Accuracy of LightGBM Classifier on testing set: 0.692523047311993

In [202]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,LGBM_pred))
print(confusion_matrix(y_test,LGBM_pred))

              precision    recall  f1-score   support

           0       0.99      0.69      0.82  16501971
           1       0.04      0.65      0.07    281765

    accuracy                           0.69  16783736
   macro avg       0.51      0.67      0.44  16783736
weighted avg       0.98      0.69      0.80  16783736

[[11438696  5063275]
 [   97337   184428]]

In [11]:
output = df_test[['customer_id','article_id']]
output.insert(2,'pred',LGBM_pred)
output.insert(3,'ans',y_test)
output

,customer_id,article_id,pred,ans
0,24f4a46c41a9e9f11c152b1096a27da0f0d44c02e7d0f1...,0636323001,1,0
1,84f2a30f09795ebdabb72fe4e0f29d84460cc91db9cc07...,0516000001,0,0
2,e781b8189a3238a6fcf69e0d485c1601872e2206079aef...,0562245015,0,0
3,56233072a2492eabbf75fe2b398c5681bf5cb4aa87a7eb...,0561445006,1,0
4,ec789476806be1eccdeda2d7f04a8887ce6c0ee9a32ea1...,0399087014,0,0
...,...,...,...,...
16783731,6fe0697a2b7430f677ff333efce93e9af3d36063fb8f1f...,0673677002,1,0
16783732,d6d68d590f739a54837ff28637a19dfde1ae41607ccd52...,0624486001,0,0
16783733,307a998b44e30f46c8298ec3fe653763191bfec0a964a9...,0457892003,0,0
16783734,e929ef9f1f30d81c71be72d11722127472a91d608b37eb...,0574109012,0,0
16783735,c6ebae538cf0d61f436c9df2863a2438cd9614ae2d385a...,0554450025,0,0

In [14]:
output['pred']=output['pred'].astype('str')
output['ans']=output['ans'].astype('str')
output.insert(4, column="pred_ans",value=output['pred']+output['ans'])
output

C:\Users\a2751\AppData\Local\Temp\ipykernel_11372\354464511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['pred']=output['pred'].astype('str')
C:\Users\a2751\AppData\Local\Temp\ipykernel_11372\354464511.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['ans']=output['ans'].astype('str')

,customer_id,article_id,pred,ans,pred_ans
0,24f4a46c41a9e9f11c152b1096a27da0f0d44c02e7d0f1...,0636323001,1,0,10
1,84f2a30f09795ebdabb72fe4e0f29d84460cc91db9cc07...,0516000001,0,0,00
2,e781b8189a3238a6fcf69e0d485c1601872e2206079aef...,0562245015,0,0,00
3,56233072a2492eabbf75fe2b398c5681bf5cb4aa87a7eb...,0561445006,1,0,10
4,ec789476806be1eccdeda2d7f04a8887ce6c0ee9a32ea1...,0399087014,0,0,00
...,...,...,...,...,...
16783731,6fe0697a2b7430f677ff333efce93e9af3d36063fb8f1f...,0673677002,1,0,10
16783732,d6d68d590f739a54837ff28637a19dfde1ae41607ccd52...,0624486001,0,0,00
16783733,307a998b44e30f46c8298ec3fe653763191bfec0a964a9...,0457892003,0,0,00
16783734,e929ef9f1f30d81c71be72d11722127472a91d608b37eb...,0574109012,0,0,00
16783735,c6ebae538cf0d61f436c9df2863a2438cd9614ae2d385a...,0554450025,0,0,00

In [15]:
mask = (output['pred_ans'] == '11')
output[mask]

,customer_id,article_id,pred,ans,pred_ans
130,1963c080c8145b663e77bfcb1b7c50429dba9276688dd4...,0179123001,1,1,11
173,d90d7e9f5ec4e07b75c69206dbd65f0c33196590ce126b...,0399256001,1,1,11
443,8e52903af70eff4a870d88ed6de9bbc998593231e720f8...,0266875001,1,1,11
466,adf591870f1ec5f39192feb717aa60c31551390a461f7c...,0543310001,1,1,11
561,b6d8bb49d6b1824bf301b393b5d9ec38477088ea5fdf83...,0562245001,1,1,11
...,...,...,...,...,...
16783387,3a92fed317c1e3867d1f15d547e85415815921efc50f18...,0160442010,1,1,11
16783446,deb35cb633fdc962e72bbeef798c4c91e62e14379ec989...,0688558001,1,1,11
16783450,5a7ecc27828ce2f35ab3a528c315a9a58c3fc0c1425a47...,0399256005,1,1,11
16783586,8d16ee169e75c944635455c838c78c3c49366238d286a3...,0160442043,1,1,11
16783600,e9ece2a9978e91df22ab999a16bc0b6be7b919dcd296a1...,0179123001,1,1,11

In [17]:
True11 = output[mask]
True11

,customer_id,article_id,pred,ans,pred_ans
130,1963c080c8145b663e77bfcb1b7c50429dba9276688dd4...,0179123001,1,1,11
173,d90d7e9f5ec4e07b75c69206dbd65f0c33196590ce126b...,0399256001,1,1,11
443,8e52903af70eff4a870d88ed6de9bbc998593231e720f8...,0266875001,1,1,11
466,adf591870f1ec5f39192feb717aa60c31551390a461f7c...,0543310001,1,1,11
561,b6d8bb49d6b1824bf301b393b5d9ec38477088ea5fdf83...,0562245001,1,1,11
...,...,...,...,...,...
16783387,3a92fed317c1e3867d1f15d547e85415815921efc50f18...,0160442010,1,1,11
16783446,deb35cb633fdc962e72bbeef798c4c91e62e14379ec989...,0688558001,1,1,11
16783450,5a7ecc27828ce2f35ab3a528c315a9a58c3fc0c1425a47...,0399256005,1,1,11
16783586,8d16ee169e75c944635455c838c78c3c49366238d286a3...,0160442043,1,1,11
16783600,e9ece2a9978e91df22ab999a16bc0b6be7b919dcd296a1...,0179123001,1,1,11

In [18]:
True11_grp = True11.groupby('customer_id')['article_id'].unique()
True11_grp

customer_id
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa                            [0658298001]
00007d2de826758b65a93dd24ce629ed66842531df6699338c5570910a014cc2                [0372860001, 0160442007]
0001ab2ebc1bb9a21d135e2fefdb11f12bee5c74ab29842a6d2ffd71316bf048                            [0537116001]
00023e3dd8618bc63ccad995a5ac62e21177338d642d66b42e0038c6b10f655a    [0554450001, 0706016002, 0452818001]
00029b1b57c1aec110f48aac6639d71369387c5985cbd839b6e18dc5fb512127                            [0706016001]
                                                                                    ...
fffc6f5bab0eadacedb371dbb194b171ad1a7bc28523597a895682c84b85ec72                [0228257001, 0240561001]
fffcc686584b3388a3afe410e3555e3557f556382b2f60c221d51914093e167b                            [0228257001]
fffd70b14382482cf3d10def86df367b2b6e0af711dede538a6a036dcc04da0b                            [0516903005]
fffdd9c81f64c0228a54e1c0240cf40877acec6ce985d467a23a835fba61c65f                            [0573716012]
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7    [0562245018, 0507909001, 0624486001]
Name: article_id, Length: 124018, dtype: object

In [19]:
len_True11 = []
for i in True11_grp:
    len_True11.append(len(i))

In [20]:
True11_grp = pd.DataFrame(True11_grp)
True11_grp['len11']=len_True11
True11_grp

,article_id,len11
customer_id,,
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa,[0658298001],1
00007d2de826758b65a93dd24ce629ed66842531df6699338c5570910a014cc2,"[0372860001, 0160442007]",2
0001ab2ebc1bb9a21d135e2fefdb11f12bee5c74ab29842a6d2ffd71316bf048,[0537116001],1
00023e3dd8618bc63ccad995a5ac62e21177338d642d66b42e0038c6b10f655a,"[0554450001, 0706016002, 0452818001]",3
00029b1b57c1aec110f48aac6639d71369387c5985cbd839b6e18dc5fb512127,[0706016001],1
...,...,...
fffc6f5bab0eadacedb371dbb194b171ad1a7bc28523597a895682c84b85ec72,"[0228257001, 0240561001]",2
fffcc686584b3388a3afe410e3555e3557f556382b2f60c221d51914093e167b,[0228257001],1
fffd70b14382482cf3d10def86df367b2b6e0af711dede538a6a036dcc04da0b,[0516903005],1
fffdd9c81f64c0228a54e1c0240cf40877acec6ce985d467a23a835fba61c65f,[0573716012],1
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7,"[0562245018, 0507909001, 0624486001]",3

In [21]:
mask2 = (output['pred_ans'] == '00')
True00 = output[mask2]
True00

,customer_id,article_id,pred,ans,pred_ans
1,84f2a30f09795ebdabb72fe4e0f29d84460cc91db9cc07...,0516000001,0,0,00
2,e781b8189a3238a6fcf69e0d485c1601872e2206079aef...,0562245015,0,0,00
4,ec789476806be1eccdeda2d7f04a8887ce6c0ee9a32ea1...,0399087014,0,0,00
5,127384a15290ecf09e4b9a24e600fb28acc713f8530511...,0570002001,0,0,00
6,a2d5a0e31fb28325ba61b38c31de869321b5284d531ff9...,0305931001,0,0,00
...,...,...,...,...,...
16783730,a8f0533c746f06902707dc5c712fc971b4cd84b7a4f910...,0557599001,0,0,00
16783732,d6d68d590f739a54837ff28637a19dfde1ae41607ccd52...,0624486001,0,0,00
16783733,307a998b44e30f46c8298ec3fe653763191bfec0a964a9...,0457892003,0,0,00
16783734,e929ef9f1f30d81c71be72d11722127472a91d608b37eb...,0574109012,0,0,00
16783735,c6ebae538cf0d61f436c9df2863a2438cd9614ae2d385a...,0554450025,0,0,00

In [22]:
True00_grp = True00.groupby('customer_id')['article_id'].unique()
True00_grp

customer_id
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa    [0678342001, 0399087014, 0669091001, 063944800...
00007d2de826758b65a93dd24ce629ed66842531df6699338c5570910a014cc2    [0305931001, 0568808001, 0578476001, 042931300...
00009d946eec3ea54add5ba56d5210ea898def4b46c68570cf0096d962cacc75    [0608776002, 0411413001, 0681657002, 053613900...
0000b2f1829e23b24feec422ef13df3ccedaedc85368e6664d04ca30b2f8daff    [0556539001, 0561445006, 0570002002, 067834200...
00015c1a121e08bbd2552c15fbbb6e6b19d3bf8f7b6a3d60c6d7be26f06264d6    [0324946001, 0194037001, 0469039019, 020018200...
                                                                                          ...
fffe836e77106fde6a3d0fd74882c4f4315c5255e38fd1b9093830dd748b2c90    [0589599001, 0523490001, 0417951001, 019403700...
ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd489cd7c5a4aa9ae240    [0401044004, 0160442007, 0436083001, 057308502...
ffff1c80bd2dede87deda612527c3df06d2fb270b8560226eebaa16b0c34bd62    [0428291001, 0316441001, 0566140001, 043608300...
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7    [0417951005, 0594987002, 0540701003, 040028500...
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264    [0561445005, 0349301001, 0570002001, 041795100...
Name: article_id, Length: 229239, dtype: object

In [23]:
len_True00 = []
for i in True00_grp:
    len_True00.append(len(i))

In [24]:
True00_grp = pd.DataFrame(True00_grp)
True00_grp['len00']=len_True00
True00_grp

,article_id,len00
customer_id,,
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa,"[0678342001, 0399087014, 0669091001, 063944800...",49
00007d2de826758b65a93dd24ce629ed66842531df6699338c5570910a014cc2,"[0305931001, 0568808001, 0578476001, 042931300...",41
00009d946eec3ea54add5ba56d5210ea898def4b46c68570cf0096d962cacc75,"[0608776002, 0411413001, 0681657002, 053613900...",48
0000b2f1829e23b24feec422ef13df3ccedaedc85368e6664d04ca30b2f8daff,"[0556539001, 0561445006, 0570002002, 067834200...",43
00015c1a121e08bbd2552c15fbbb6e6b19d3bf8f7b6a3d60c6d7be26f06264d6,"[0324946001, 0194037001, 0469039019, 020018200...",43
...,...,...
fffe836e77106fde6a3d0fd74882c4f4315c5255e38fd1b9093830dd748b2c90,"[0589599001, 0523490001, 0417951001, 019403700...",32
ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd489cd7c5a4aa9ae240,"[0401044004, 0160442007, 0436083001, 057308502...",62
ffff1c80bd2dede87deda612527c3df06d2fb270b8560226eebaa16b0c34bd62,"[0428291001, 0316441001, 0566140001, 043608300...",64
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7,"[0417951005, 0594987002, 0540701003, 040028500...",51
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264,"[0561445005, 0349301001, 0570002001, 041795100...",44

In [25]:
grp = pd.merge(True11_grp,True00_grp,on="customer_id",how="outer")
grp.reset_index(inplace=True)
grp

,customer_id,article_id_x,len11,article_id_y,len00
0,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,[0658298001],1.0,"[0678342001, 0399087014, 0669091001, 063944800...",49.0
1,00007d2de826758b65a93dd24ce629ed66842531df6699...,"[0372860001, 0160442007]",2.0,"[0305931001, 0568808001, 0578476001, 042931300...",41.0
2,0001ab2ebc1bb9a21d135e2fefdb11f12bee5c74ab2984...,[0537116001],1.0,"[0554477005, 0189616006, 0156231001, 017912300...",48.0
3,00023e3dd8618bc63ccad995a5ac62e21177338d642d66...,"[0554450001, 0706016002, 0452818001]",3.0,"[0688558001, 0566140001, 0396135007, 065803000...",43.0
4,00029b1b57c1aec110f48aac6639d71369387c5985cbd8...,[0706016001],1.0,"[0179208001, 0316441005, 0729928001, 056144500...",66.0
...,...,...,...,...,...
229279,fffe7116f9f68e8ad287fd7b6e33aad4871d7080e77d2d...,NaN,NaN,"[0554772003, 0189616006, 0570004009, 064428800...",47.0
229280,fffe836e77106fde6a3d0fd74882c4f4315c5255e38fd1...,NaN,NaN,"[0589599001, 0523490001, 0417951001, 019403700...",32.0
229281,ffff12aa623c69eae8959d673f1f12ad0194ad760d77fd...,NaN,NaN,"[0401044004, 0160442007, 0436083001, 057308502...",62.0
229282,ffff1c80bd2dede87deda612527c3df06d2fb270b85602...,NaN,NaN,"[0428291001, 0316441001, 0566140001, 043608300...",64.0
229283,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,NaN,NaN,"[0561445005, 0349301001, 0570002001, 041795100...",44.0

In [27]:
mask3 = (grp['len11'] == 7) & (grp['len00'] == 9)
cus2 = grp[mask3]

In [35]:
cus2

,customer_id,article_id_x,len11,article_id_y,len00
40335,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,"[0683662005, 0679853001, 0189616006, 020018200...",7.0,"[0470985003, 0578630002, 0523490002, 018626200...",9.0
122945,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,"[0305931001, 0179950001, 0561445005, 011156500...",7.0,"[0470985003, 0186262006, 0559616001, 012012900...",9.0

In [34]:
cus2.to_csv('final.csv',index=False)

In [120]:
buy_list = []
for i in cus2['article_id_x']:
        for j in i:
            buy_list.append((j))

In [123]:
buy = pd.DataFrame(buy_list)
buy.rename(columns={0:'article_id'},inplace=True)
buy

    article_id
0   0683662005
1   0679853001
2   0189616006
3   0200182001
4   0561445005
5   0297067002
6   0624486001
7   0305931001
8   0179950001
9   0561445005
10  0111565001
11  0108775044
12  0148033001
13  0573716012

In [128]:
buy1 = buy.article_id[:7]
buy1 = pd.DataFrame(buy1)
buy1['customer_id']='5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa'
buy1

   article_id                                        customer_id
0  0683662005  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
1  0679853001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
2  0189616006  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
3  0200182001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
4  0561445005  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
5  0297067002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
6  0624486001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...

In [130]:
buy2 = buy.article_id[7:]
buy2 = pd.DataFrame(buy2)
buy2['customer_id']='fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39'
buy2

    article_id                                        customer_id
7   0305931001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
8   0179950001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
9   0561445005  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
10  0111565001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
11  0108775044  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
12  0148033001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
13  0573716012  fdd88f624b54d106e8cf144b96321376d12a34618d0910...

In [149]:
buy=pd.concat([buy1,buy2],ignore_index=True)
buy['Buy']=1
buy

    article_id                                        customer_id  Buy
0   0683662005  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
1   0679853001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
2   0189616006  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
3   0200182001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
4   0561445005  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
5   0297067002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
6   0624486001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
7   0305931001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
8   0179950001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
9   0561445005  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
10  0111565001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
11  0108775044  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
12  0148033001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
13  0573716012  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1

In [132]:
nobuy_list = []
for i in cus2['article_id_y']:
    for j in i:
        nobuy_list.append((j))

In [133]:
nobuy_list

['0470985003',
 '0578630002',
 '0523490002',
 '0186262001',
 '0523490001',
 '0523488001',
 '0620963002',
 '0652924004',
 '0639448001',
 '0470985003',
 '0186262006',
 '0559616001',
 '0120129001',
 '0429322001',
 '0395127001',
 '0441386001',
 '0587229001',
 '0605690001']

In [144]:
nobuy = pd.DataFrame(nobuy_list)
nobuy.rename(columns={0:'article_id'},inplace=True)
nobuy

    article_id
0   0470985003
1   0578630002
2   0523490002
3   0186262001
4   0523490001
5   0523488001
6   0620963002
7   0652924004
8   0639448001
9   0470985003
10  0186262006
11  0559616001
12  0120129001
13  0429322001
14  0395127001
15  0441386001
16  0587229001
17  0605690001

In [145]:
nobuy1 = nobuy.article_id[:9]
nobuy1 = pd.DataFrame(nobuy1)
nobuy1['customer_id']='5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa'
nobuy1

   article_id                                        customer_id
0  0470985003  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
1  0578630002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
2  0523490002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
3  0186262001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
4  0523490001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
5  0523488001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
6  0620963002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
7  0652924004  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...
8  0639448001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...

In [146]:
nobuy2 = nobuy.article_id[9:]
nobuy2 = pd.DataFrame(nobuy2)
nobuy2['customer_id']='fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39'
nobuy2

    article_id                                        customer_id
9   0470985003  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
10  0186262006  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
11  0559616001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
12  0120129001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
13  0429322001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
14  0395127001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
15  0441386001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
16  0587229001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...
17  0605690001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...

In [148]:
nobuy=pd.concat([nobuy1,nobuy2],ignore_index=True)
nobuy['Buy']=0
nobuy

    article_id                                        customer_id  Buy
0   0470985003  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
1   0578630002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
2   0523490002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
3   0186262001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
4   0523490001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
5   0523488001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
6   0620963002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
7   0652924004  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
8   0639448001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
9   0470985003  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
10  0186262006  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
11  0559616001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
12  0120129001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
13  0429322001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
14  0395127001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
15  0441386001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
16  0587229001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
17  0605690001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0

In [150]:
buy2222=pd.concat([buy,nobuy],ignore_index=True)
buy2222

    article_id                                        customer_id  Buy
0   0683662005  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
1   0679853001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
2   0189616006  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
3   0200182001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
4   0561445005  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
5   0297067002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
6   0624486001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    1
7   0305931001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
8   0179950001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
9   0561445005  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
10  0111565001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
11  0108775044  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
12  0148033001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
13  0573716012  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    1
14  0470985003  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
15  0578630002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
16  0523490002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
17  0186262001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
18  0523490001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
19  0523488001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
20  0620963002  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
21  0652924004  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
22  0639448001  5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...    0
23  0470985003  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
24  0186262006  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
25  0559616001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
26  0120129001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
27  0429322001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
28  0395127001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
29  0441386001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
30  0587229001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0
31  0605690001  fdd88f624b54d106e8cf144b96321376d12a34618d0910...    0

In [85]:
for i in cus2['customer_id']:
    print(i)

5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39

In [183]:
mask =(df_train['customer_id']=='fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39')
train=df_train[mask].drop('Buy',axis=1)
train

,customer_id,article_id,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,FN,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
131790,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0608776002,3,0,1,1,0.025407,12.309537,10,1,...,32,4,2,17,11,5,4,0,1,0
145750,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0464297007,3,0,1,1,0.030492,12.309537,10,1,...,6,4,2,16,16,5,4,0,2,0
281547,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0372860001,3,0,1,1,0.013542,12.309537,10,1,...,32,4,2,17,11,5,4,0,1,0
297095,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0618800001,3,0,1,1,0.033881,12.309537,10,1,...,3,3,2,15,1,5,4,0,1,0
391196,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0600886001,3,0,1,1,0.025407,12.309537,10,1,...,40,4,2,20,13,5,4,0,1,0
535256,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0537116001,3,0,1,1,0.016932,12.309537,10,1,...,17,3,2,21,5,5,4,0,1,0
961176,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0677999001,3,0,1,1,0.067780,12.309537,10,1,...,8,1,1,7,15,5,4,0,0,0
1018712,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0429313006,3,0,1,1,0.030492,12.309537,10,1,...,12,4,2,16,16,5,4,0,1,4
1159550,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0554772002,3,0,1,1,0.008458,12.309537,10,1,...,18,3,2,14,4,5,4,0,1,0

In [184]:
mask2 =(df_test['customer_id']=='fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39')
test=df_test[mask2].drop('Buy',axis=1)
test

,customer_id,article_id,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,FN,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
558793,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0399136004,3,0,1,1,0.084729,12.309537,10,1,...,8,1,1,7,15,5,4,0,1,0
575863,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0516000001,3,0,1,1,0.016932,12.309537,10,1,...,17,3,2,21,5,5,4,0,1,1
1121211,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0554477005,3,0,1,1,0.016932,12.309537,10,1,...,44,1,1,4,14,5,4,0,1,0
1686084,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0160442043,3,0,1,1,0.013542,12.309537,10,1,...,32,4,2,17,11,5,4,0,3,3
1904776,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0305931001,3,0,1,1,0.033881,12.309537,10,1,...,41,4,2,17,11,5,4,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16052331,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0297067002,3,0,1,1,0.016932,12.309537,10,1,...,41,4,2,17,11,5,4,0,1,0
16380924,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0679853001,3,0,1,1,0.016932,12.309537,10,1,...,42,1,1,4,6,5,4,0,1,0
16582608,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0160442010,3,0,1,1,0.013542,12.309537,10,1,...,32,4,2,17,11,5,4,0,1,1
16677587,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0396135007,3,0,1,1,0.016932,12.309537,10,1,...,18,3,2,14,4,5,4,0,1,0
16776689,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0573716012,3,0,1,1,0.033881,12.309537,10,1,...,43,3,2,15,14,5,4,0,1,0

In [185]:
test_train=pd.concat([train,test],ignore_index=True)
test_train

,customer_id,article_id,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,FN,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
0,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0608776002,3,0,1,1,0.025407,12.309537,10,1,...,32,4,2,17,11,5,4,0,1,0
1,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0464297007,3,0,1,1,0.030492,12.309537,10,1,...,6,4,2,16,16,5,4,0,2,0
2,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0372860001,3,0,1,1,0.013542,12.309537,10,1,...,32,4,2,17,11,5,4,0,1,0
3,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0618800001,3,0,1,1,0.033881,12.309537,10,1,...,3,3,2,15,1,5,4,0,1,0
4,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0600886001,3,0,1,1,0.025407,12.309537,10,1,...,40,4,2,20,13,5,4,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0297067002,3,0,1,1,0.016932,12.309537,10,1,...,41,4,2,17,11,5,4,0,1,0
77,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0679853001,3,0,1,1,0.016932,12.309537,10,1,...,42,1,1,4,6,5,4,0,1,0
78,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0160442010,3,0,1,1,0.013542,12.309537,10,1,...,32,4,2,17,11,5,4,0,1,1
79,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0396135007,3,0,1,1,0.016932,12.309537,10,1,...,18,3,2,14,4,5,4,0,1,0
80,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0573716012,3,0,1,1,0.033881,12.309537,10,1,...,43,3,2,15,14,5,4,0,1,0

In [186]:
artlist333 = pd.merge(buy2222,test_train,on=['article_id','customer_id'],how="inner")
artlist333

,article_id,customer_id,Buy,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
0,0305931001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.033881,12.309537,10,...,41,4,2,17,11,5,4,0,1,0
1,0179950001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.025407,12.309537,10,...,2,2,2,12,0,5,4,0,1,0
2,0561445005,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.010695,12.309537,10,...,18,3,2,14,4,5,4,0,1,0
3,0111565001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.008458,12.309537,10,...,41,4,2,17,11,5,4,0,1,0
4,0108775044,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.008508,12.309537,10,...,18,3,2,14,4,5,4,0,1,1
5,0148033001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.013542,12.309537,10,...,41,4,2,17,11,5,4,0,1,0
6,0573716012,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.033881,12.309537,10,...,43,3,2,15,14,5,4,0,1,0
7,0470985003,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.022017,12.309537,10,...,36,2,2,18,8,5,4,0,1,1
8,0186262006,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.004220,12.309537,10,...,15,2,2,19,0,5,4,0,1,2
9,0559616001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.025407,12.309537,10,...,40,4,2,20,13,5,4,0,1,0
10,0120129001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.017322,12.309537,10,...,17,3,2,9,5,5,4,0,1,0
11,0429322001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.042356,12.309537,10,...,12,4,2,16,16,5,4,0,1,0
12,0395127001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.042356,12.309537,10,...,30,5,3,10,7,5,4,0,1,1
13,0441386001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.042356,12.309537,10,...,19,5,3,1,5,5,4,0,1,0
14,0587229001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.025407,12.309537,10,...,40,4,2,20,13,5,4,0,1,0
15,0605690001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.025407,12.309537,10,...,40,4,2,20,13,5,4,0,1,0

In [187]:
mask =(df_train['customer_id']=='5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa')
train=df_train[mask].drop('Buy',axis=1)
train

,customer_id,article_id,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,FN,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
29937,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0719530004,3,0,3,1,0.033881,12.98768,9,1,...,44,1,1,4,14,5,4,0,1,2
198916,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0429313006,3,0,3,1,0.030492,12.98768,9,1,...,12,4,2,16,16,5,4,0,1,4
210877,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0542533001,3,0,3,1,0.033881,12.98768,9,1,...,26,5,3,11,4,5,4,0,1,1
217314,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0469039019,3,0,3,1,0.022017,12.98768,9,1,...,13,2,2,18,8,5,4,0,1,0
299411,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0623115001,3,0,3,1,0.050831,12.98768,9,1,...,9,1,1,2,8,5,4,0,1,0
350137,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0708021001,3,0,3,1,0.016932,12.98768,9,1,...,25,6,4,8,5,5,4,0,1,0
404405,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0243937001,3,0,3,1,0.016932,12.98768,9,1,...,32,4,2,17,11,5,4,0,1,0
446659,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0401044004,3,0,3,1,0.042356,12.98768,9,1,...,10,1,1,5,3,5,4,0,1,0
481353,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0575347003,3,0,3,1,0.013542,12.98768,9,1,...,38,5,3,11,11,5,4,0,1,0
576661,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0562245050,3,0,3,1,0.033881,12.98768,9,1,...,43,3,2,15,14,5,4,0,1,1
698562,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0228257001,3,0,3,1,0.013542,12.98768,9,1,...,41,4,2,17,11,5,4,0,1,0
979700,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0561445006,3,0,3,1,0.008458,12.98768,9,1,...,18,3,2,14,4,5,4,0,1,1
984240,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0189634001,3,0,3,1,0.013542,12.98768,9,1,...,1,1,1,3,4,5,4,0,1,0
1150452,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0706016003,3,0,3,1,0.033881,12.98768,9,1,...,44,1,1,4,14,5,4,0,1,0
1299092,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0464908039,3,0,3,1,0.016932,12.98768,9,1,...,6,4,2,16,16,5,4,0,1,3

In [188]:
mask2 =(df_test['customer_id']=='5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa')
test=df_test[mask2].drop('Buy',axis=1)
test

,customer_id,article_id,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,FN,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
354781,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0316085001,3,0,3,1,0.022017,12.98768,9,1,...,1,1,1,3,4,5,4,0,1,0
492082,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0470985003,3,0,3,1,0.022017,12.98768,9,1,...,36,2,2,18,8,5,4,0,1,1
1486466,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0683662005,3,0,3,1,0.013542,12.98768,9,1,...,1,1,1,3,4,5,4,0,2,0
1495617,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0590928001,3,0,3,1,0.030492,12.98768,9,1,...,40,4,2,20,13,5,4,0,3,0
1521489,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0537116001,3,0,3,1,0.016932,12.98768,9,1,...,17,3,2,21,5,5,4,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15864381,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0554450025,3,0,3,1,0.033881,12.98768,9,1,...,44,1,1,4,14,5,4,0,1,0
15868256,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0572797002,3,0,3,1,0.011847,12.98768,9,1,...,17,3,2,13,5,5,4,0,1,1
16069062,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0622955001,3,0,3,1,0.059305,12.98768,9,1,...,4,2,2,18,8,5,4,0,1,0
16641593,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0349301001,3,0,3,1,0.016932,12.98768,9,1,...,13,2,2,18,8,5,4,0,1,0
16713027,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0554598003,3,0,3,1,0.016932,12.98768,9,1,...,18,3,2,14,4,5,4,0,1,1

In [189]:
test_train=pd.concat([train,test],ignore_index=True)
test_train

,customer_id,article_id,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,FN,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
0,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0719530004,3,0,3,1,0.033881,12.98768,9,1,...,44,1,1,4,14,5,4,0,1,2
1,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0429313006,3,0,3,1,0.030492,12.98768,9,1,...,12,4,2,16,16,5,4,0,1,4
2,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0542533001,3,0,3,1,0.033881,12.98768,9,1,...,26,5,3,11,4,5,4,0,1,1
3,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0469039019,3,0,3,1,0.022017,12.98768,9,1,...,13,2,2,18,8,5,4,0,1,0
4,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0623115001,3,0,3,1,0.050831,12.98768,9,1,...,9,1,1,2,8,5,4,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0554450025,3,0,3,1,0.033881,12.98768,9,1,...,44,1,1,4,14,5,4,0,1,0
88,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0572797002,3,0,3,1,0.011847,12.98768,9,1,...,17,3,2,13,5,5,4,0,1,1
89,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0622955001,3,0,3,1,0.059305,12.98768,9,1,...,4,2,2,18,8,5,4,0,1,0
90,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0349301001,3,0,3,1,0.016932,12.98768,9,1,...,13,2,2,18,8,5,4,0,1,0
91,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0554598003,3,0,3,1,0.016932,12.98768,9,1,...,18,3,2,14,4,5,4,0,1,1

In [190]:
artlist444 = pd.merge(buy2222,test_train,on=['article_id','customer_id'],how="inner")
artlist444

,article_id,customer_id,Buy,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
0,0683662005,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.013542,12.98768,9,...,1,1,1,3,4,5,4,0,2,0
1,0679853001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.98768,9,...,42,1,1,4,6,5,4,0,1,0
2,0189616006,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.98768,9,...,1,1,1,3,4,5,4,0,3,0
3,0200182001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.98768,9,...,41,4,2,17,11,5,4,0,1,0
4,0561445005,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.010695,12.98768,9,...,18,3,2,14,4,5,4,0,1,0
5,0297067002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.98768,9,...,41,4,2,17,11,5,4,0,1,0
6,0624486001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.022017,12.98768,9,...,1,1,1,3,4,5,4,0,1,0
7,0470985003,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.022017,12.98768,9,...,36,2,2,18,8,5,4,0,1,1
8,0578630002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.033881,12.98768,9,...,26,5,3,11,4,5,4,0,1,1
9,0523490002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.005068,12.98768,9,...,15,2,2,19,0,5,4,0,3,2
10,0186262001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.004220,12.98768,9,...,15,2,2,19,0,5,4,0,1,0
11,0523490001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.005068,12.98768,9,...,15,2,2,19,0,5,4,0,1,0
12,0523488001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.005068,12.98768,9,...,15,2,2,19,0,5,4,0,1,0
13,0620963002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.008458,12.98768,9,...,40,4,2,20,13,5,4,0,1,0
14,0652924004,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.042356,12.98768,9,...,29,3,2,7,15,5,4,0,1,0
15,0639448001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.050831,12.98768,9,...,0,2,2,12,0,5,4,0,1,0

In [191]:
art2=pd.concat([artlist333,artlist444],ignore_index=True)
art2

,article_id,customer_id,Buy,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,...,department_name,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename
0,0305931001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.033881,12.309537,10,...,41,4,2,17,11,5,4,0,1,0
1,0179950001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.025407,12.309537,10,...,2,2,2,12,0,5,4,0,1,0
2,0561445005,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.010695,12.309537,10,...,18,3,2,14,4,5,4,0,1,0
3,0111565001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.008458,12.309537,10,...,41,4,2,17,11,5,4,0,1,0
4,0108775044,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.008508,12.309537,10,...,18,3,2,14,4,5,4,0,1,1
5,0148033001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.013542,12.309537,10,...,41,4,2,17,11,5,4,0,1,0
6,0573716012,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.033881,12.309537,10,...,43,3,2,15,14,5,4,0,1,0
7,0470985003,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.022017,12.309537,10,...,36,2,2,18,8,5,4,0,1,1
8,0186262006,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.004220,12.309537,10,...,15,2,2,19,0,5,4,0,1,2
9,0559616001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.025407,12.309537,10,...,40,4,2,20,13,5,4,0,1,0
10,0120129001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.017322,12.309537,10,...,17,3,2,9,5,5,4,0,1,0
11,0429322001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.042356,12.309537,10,...,12,4,2,16,16,5,4,0,1,0
12,0395127001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.042356,12.309537,10,...,30,5,3,10,7,5,4,0,1,1
13,0441386001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.042356,12.309537,10,...,19,5,3,1,5,5,4,0,1,0
14,0587229001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.025407,12.309537,10,...,40,4,2,20,13,5,4,0,1,0
15,0605690001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.025407,12.309537,10,...,40,4,2,20,13,5,4,0,1,0
16,0683662005,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.013542,12.987680,9,...,1,1,1,3,4,5,4,0,2,0
17,0679853001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,42,1,1,4,6,5,4,0,1,0
18,0189616006,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,1,1,1,3,4,5,4,0,3,0
19,0200182001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,41,4,2,17,11,5,4,0,1,0
20,0561445005,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.010695,12.987680,9,...,18,3,2,14,4,5,4,0,1,0
21,0297067002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,41,4,2,17,11,5,4,0,1,0
22,0624486001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.022017,12.987680,9,...,1,1,1,3,4,5,4,0,1,0
23,0470985003,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.022017,12.987680,9,...,36,2,2,18,8,5,4,0,1,1
24,0578630002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.033881,12.987680,9,...,26,5,3,11,4,5,4,0,1,1
25,0523490002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.005068,12.987680,9,...,15,2,2,19,0,5,4,0,3,2
26,0186262001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.004220,12.987680,9,...,15,2,2,19,0,5,4,0,1,0
27,0523490001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.005068,12.987680,9,...,15,2,2,19,0,5,4,0,1,0
28,0523488001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.005068,12.987680,9,...,15,2,2,19,0,5,4,0,1,0
29,0620963002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.008458,12.987680,9,...,40,4,2,20,13,5,4,0,1,0
30,0652924004,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.042356,12.987680,9,...,29,3,2,7,15,5,4,0,1,0
31,0639448001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.050831,12.987680,9,...,0,2,2,12,0,5,4,0,1,0

In [170]:
art3 = art2[['price','cluster_age_avgconsume','alive','Buy_n_year',\
                 'loyaty','avg_consume','age_class','attribute','graphical_rename',\
                 'color_rename','garment_group_name']]

In [171]:
art4 = art2['Buy']
art4

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
Name: Buy, dtype: int64

In [172]:
LGBM_pred=lgbmc.predict(art3)
print(LGBM_pred)

[1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0]

In [175]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(art4,LGBM_pred))
print(confusion_matrix(art4,LGBM_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        18
           1       1.00      1.00      1.00        14

    accuracy                           1.00        32
   macro avg       1.00      1.00      1.00        32
weighted avg       1.00      1.00      1.00        32

[[18  0]
 [ 0 14]]

In [193]:
art2['pred']=LGBM_pred
art2

,article_id,customer_id,Buy,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,...,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename,pred
0,0305931001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.033881,12.309537,10,...,4,2,17,11,5,4,0,1,0,1
1,0179950001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.025407,12.309537,10,...,2,2,12,0,5,4,0,1,0,1
2,0561445005,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.010695,12.309537,10,...,3,2,14,4,5,4,0,1,0,1
3,0111565001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.008458,12.309537,10,...,4,2,17,11,5,4,0,1,0,1
4,0108775044,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.008508,12.309537,10,...,3,2,14,4,5,4,0,1,1,1
5,0148033001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.013542,12.309537,10,...,4,2,17,11,5,4,0,1,0,1
6,0573716012,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.033881,12.309537,10,...,3,2,15,14,5,4,0,1,0,1
7,0470985003,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.022017,12.309537,10,...,2,2,18,8,5,4,0,1,1,0
8,0186262006,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.004220,12.309537,10,...,2,2,19,0,5,4,0,1,2,0
9,0559616001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.025407,12.309537,10,...,4,2,20,13,5,4,0,1,0,0
10,0120129001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.017322,12.309537,10,...,3,2,9,5,5,4,0,1,0,0
11,0429322001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.042356,12.309537,10,...,4,2,16,16,5,4,0,1,0,0
12,0395127001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.042356,12.309537,10,...,5,3,10,7,5,4,0,1,1,0
13,0441386001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.042356,12.309537,10,...,5,3,1,5,5,4,0,1,0,0
14,0587229001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.025407,12.309537,10,...,4,2,20,13,5,4,0,1,0,0
15,0605690001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,0,3,0,1,1,0.025407,12.309537,10,...,4,2,20,13,5,4,0,1,0,0
16,0683662005,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.013542,12.987680,9,...,1,1,3,4,5,4,0,2,0,1
17,0679853001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,1,1,4,6,5,4,0,1,0,1
18,0189616006,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,1,1,3,4,5,4,0,3,0,1
19,0200182001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,4,2,17,11,5,4,0,1,0,1
20,0561445005,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.010695,12.987680,9,...,3,2,14,4,5,4,0,1,0,1
21,0297067002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,4,2,17,11,5,4,0,1,0,1
22,0624486001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.022017,12.987680,9,...,1,1,3,4,5,4,0,1,0,1
23,0470985003,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.022017,12.987680,9,...,2,2,18,8,5,4,0,1,1,0
24,0578630002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.033881,12.987680,9,...,5,3,11,4,5,4,0,1,1,0
25,0523490002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.005068,12.987680,9,...,2,2,19,0,5,4,0,3,2,0
26,0186262001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.004220,12.987680,9,...,2,2,19,0,5,4,0,1,0,0
27,0523490001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.005068,12.987680,9,...,2,2,19,0,5,4,0,1,0,0
28,0523488001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.005068,12.987680,9,...,2,2,19,0,5,4,0,1,0,0
29,0620963002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.008458,12.987680,9,...,4,2,20,13,5,4,0,1,0,0
30,0652924004,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.042356,12.987680,9,...,3,2,7,15,5,4,0,1,0,0
31,0639448001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,0,3,0,3,1,0.050831,12.987680,9,...,2,2,12,0,5,4,0,1,0,0

In [199]:
art2.to_csv("2cus大表.csv",index=False)

In [197]:
for i in art2['customer_id']:
    print(i)

fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
fdd88f624b54d106e8cf144b96321376d12a34618d09101c071cedb073d0ff39
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa
5395a5773d9516123a46421cfe5dfdf1b88069401e2dc33996cfbd309645b3fa

In [194]:
mask= (art2['pred']==1) %(art2['customer_id']==1)
pred1 = art2[mask]
pred1

,article_id,customer_id,Buy,Buy_n_year,dead_or_alive,cluster_age_avgconsume,alive,price,avg_consume,loyaty,...,index_name,index_group_name,section_name,garment_group_name,cus_like_color_num,cus_like_graphic_num,not_Buy_popular_graphic,graphical_rename,color_rename,pred
0,0305931001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.033881,12.309537,10,...,4,2,17,11,5,4,0,1,0,1
1,0179950001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.025407,12.309537,10,...,2,2,12,0,5,4,0,1,0,1
2,0561445005,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.010695,12.309537,10,...,3,2,14,4,5,4,0,1,0,1
3,0111565001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.008458,12.309537,10,...,4,2,17,11,5,4,0,1,0,1
4,0108775044,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.008508,12.309537,10,...,3,2,14,4,5,4,0,1,1,1
5,0148033001,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.013542,12.309537,10,...,4,2,17,11,5,4,0,1,0,1
6,0573716012,fdd88f624b54d106e8cf144b96321376d12a34618d0910...,1,3,0,1,1,0.033881,12.309537,10,...,3,2,15,14,5,4,0,1,0,1
16,0683662005,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.013542,12.987680,9,...,1,1,3,4,5,4,0,2,0,1
17,0679853001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,1,1,4,6,5,4,0,1,0,1
18,0189616006,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,1,1,3,4,5,4,0,3,0,1
19,0200182001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,4,2,17,11,5,4,0,1,0,1
20,0561445005,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.010695,12.987680,9,...,3,2,14,4,5,4,0,1,0,1
21,0297067002,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.016932,12.987680,9,...,4,2,17,11,5,4,0,1,0,1
22,0624486001,5395a5773d9516123a46421cfe5dfdf1b88069401e2dc3...,1,3,0,3,1,0.022017,12.987680,9,...,1,1,3,4,5,4,0,1,0,1

In [195]:
pred1_art=pred1['customer_id','article_id']
pred1_art

KeyError: ('customer_id', 'article_id')